hello/__pycache__
hello/__pycache__/*
gettingstarted/__pycache__
gettingstarted/__pycache__/*
hello/migrations/__pycache__
hello/migrations/__pycache__/*
research/static/files/.DS_Store
research/__pycache__
research/__pycache__/*
research/migrations/
staticfiles/.DS_Store
.DS_Store
**/.DS_Store
**/*.pyc
art/.DS_Store
art/__pycache__/
art/migrations/
art/static/.DS_Store
art/static/assets3/.DS_Store
art/static/.DS_Store
art/static/assets3/.DS_Store
research/static/.DS_Store
research/static/assets/.DS_Store
research/static/assets/images/.DS_Store
