{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
		<title>Exhibition: Golden</title>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {# Global stylesheets #}
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i" rel="stylesheet">


		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}"> -->
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/butt.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/iconfont.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/slick/slick.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/slick/slick-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/jquery.fancybox.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/magnific-popup.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}

		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/plugins.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets3/css/responsive.css' %}">


        {% endblock %}
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse" class="{% block body_class %}{% endblock %}">


        {# Global javascript #}
		<!-- <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script> -->
        <!-- <script type="text/javascript" src="{% static 'js/style.js' %}"></script> -->
		<script type="text/javascript" src="{% static 'assets3/js/vendor/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/vendor/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/jquery.magnific-popup.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/jquery.mixitup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/jquery.easing.1.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/jquery.masonry.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/css/slick/slick.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/css/slick/slick.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/plugins.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets3/js/main.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
			<!-- <script type="text/javascript" src="{% static 'js/demo.js' %}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'assets3/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script> -->


		<!-- <script type="text/javascript" src="{% static 'js/jquery.particleground.min.js' %}"></script> -->
		<!-- <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script> -->
		{% block content %}{% endblock %}

        {% endblock %}
    </body>
</html>
