
{% load static %}



		<!-- Wrapper -->
			<div id="wrapper" class="divided">




				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">

							<h1>Nice To Meet You</h1>
							<p> > A Short Film</p>
							<p class="major">The pandemic has changed so many aspects of our lives. Many suffer from social anxiety after the society opens up again. It can be difficult for some to adapt to the lifestyle in the past. One can find it hard to dress up formally as before and tell jokes in the office. Some may find it hard to be on time even taking the same trains as before the pandemic. Sometimes we forgot when was the last time we shake each other's hand while looking into the eyes.  </p>
							<p class="major"><i>Nice to meet you</i> is a short documentary-like story about Nina. She is a student who suffers from lonliness, procrastination, social anxiety, and the lack of confidence and motivation to face the mess after the pandemic. For a group assignemnt, she teamed up with Wang, but both did almost nothing until the last few days. They decided to meet on campus to prevent an empty submission. She finds it difficult to pick up the old routine: get up on time, make the right coffee, brush the eyelashes skillfully, and nearly left her keys on the table. She was not sure if wearing a mask in public transportation is still required. While in the metro, she was very sensitive to the sound of cough. After a long time not coming to the university, her memory about the buildings faded away and she hesitated about the directions as she rushes to the meeting.</p>
						<p class="major">While Nina is a fictional character, many of us could face similar issues at different levels. The goal of this film is to encourage everyone to regain social interactions and enjoy being together in person after the pandemic. </p>
							<p class="major">The film is a candidate of the 72 Hour VU Film Challenge. The premiere of the film will be at the Rialto VU cinema from 7PM on 30th June, 2022. </p>
							<ul class="actions vertical">
								<li><a href="https://www.eventbrite.com/e/premiere-night-72-hour-vu-film-challenge-tickets-355339990477" class="button big wide smooth-scroll-middle">Get Ticket</a></li>
							</ul>
						</div>
						<div class="image" >
							<img src="{% static 'assets2/photos/0.jpg' %}" alt="" />
						</div>
					</section>





						</div>
						<br></br>
						</div>
						</section>




								<!-- Four -->
									<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
										<div class="content">
											<h2>Costanza Spadafora (as Nina)</h2>
											<p>She played a student called Nina who suffers from post-pandemic social anxiety. She successfully captured the subtel transfer of emotions as the plot moves towards a brighter ending. </p>
											<p>Costanza is the co-director and the main actress of this short film. Constanze has contributed also to the scenes, props, dialogues, editing, etc. Most importantly, she selected all the three pieces of music (and played the first one), which matches the mood and the scenes perfectly!</p>
											<p>Costanza is a final-year master student of Psychology at the Vrije Universiteit Amsterdam.</p>
										</div>
										<div class="image">
											<img src="{% static 'assets2/photos/1-small.jpeg' %}" alt="" />
										</div>
									</section>

									<!-- Three -->
										<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
											<div class="content">
												<h2>Shuai Wang (as Wang)</h2>
												<p>Shuai is the co-director and the cameraman of this short film. He also played the role of a screenwriter and lighting designer. He was also in charge of editing and the final submission for the competition. </p>
												<p>He played the teammate of Nina, a character that brought up the idea to meet and reduces her social anxiety by good team-working and friendly attitude. </p>
												<p>Shuai is a Ph.D. student and a scientific engineer in the computer science department of the Vrije Universiteit Amterdam. </p>

											</div>
											<div class="image">
												<img src="{% static 'assets2/photos/2-small.jpg' %}" alt="" />
											</div>
										</section>

							</section>








																				<!-- Additional Elements -->
																					<section class="wrapper style1 align-center">
																						<div class="inner">
																							<h2>Acknowledgement</h2>
																							<!-- <p>Thanks to the following people for your help, encouragement and .</p> -->
																							<div class="index align-left">




																								<!-- Definition List -->
																									<section>
																										<header>
																											<h3>Thank you all!</h3>
																										</header>
																										<div class="content">

																											<dl>
																												<dt>Thanks to the following people for your help, contribution and inspiration.</dt>
																												<dd>
																													<br>Roy Seerden</br>
																													<br>Tom</br>
																													<br>Suraya</br>

																														<br></br>
																												</dd>


																												<dt>Very special thanks to</dt>
																												<dd>
																													<br>Vrije University Amsterdam;</br>
																													<br>Rialto VU bioscoop;</br>
																													<br>Aylin and Claudia for organising the 72 Hour VU Film Challenge!</br>
																														<br></br>
																												</dd>

																												<dt>Special guests of premiere.</dt>
																												<dd>

																													<br> 	Roy Seerden (director) </br>

																													<br> Jack  (architect) </br>
																													<br> Muzi Zhou (mathematician) </br>
																													<!-- <br> Vincent (psychologist) </br> -->

																												<br></br>



																												</dd>





																											</dl>





																										</div>





																									</section>
