
{% load static %}



		<!-- Wrapper -->
			<div id="wrapper" class="divided">




				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">

							<h1>Nice To MEET You</h1>
							<p> > A Short Film</p>
							<!-- <p class="major">The pandemic has changed so many aspects of our lives. Many suffer from social anxiety after the society opens up again. It can be difficult for some to regain their lifestyle before the pandemic. For example, one can find it difficult to come to work or tell jokes in the office as before. Some may find it hard to be on time for appointments. Do you still remember when was the last time you shake someone's hand and look into his/her eyes and say 'Nice to meet you' ?  </p> -->
							<p class="major">The pandemic has changed so many aspects of our lives. Many are suffering from social anxiety as society opens up again. It can be difficult for some to regain their lifestyle from before the pandemic. For example, one can find it difficult to come to work or tell jokes in the office as before. Some may find it hard to be on time for appointments. Do you still remember when was the last time you shook someone's hand and looked into his/her eyes saying 'Nice to meet you' ? </p>
							<!-- <p class="major"><i>Nice to meet you</i> is a short documentary-like story about Nina. She is a student who suffers from lonliness, procrastination, social anxiety, and the lack of confidence and motivation. For a group assignemnt, she teamed up with Wang, but both did almost nothing until the last few days. They decided to meet on campus to prevent an empty submission. However, she found it difficult to pick up the old routine: getting up on time, making the right coffee, brushing the eyelashes skillfully, etc. She was not sure if wearing a mask in public transportation is still required. While in the metro, she was very sensitive to the sound of cough. After a long time not coming to the university, her memory about the buildings faded away and she hesitated about the directions as she rushed to the meeting.</p> -->
							<p class="major"><i>Nice to MEET you</i> is a short documentary-like story about Nina. She is a student who suffers from loneliness, procrastination, social anxiety, and the lack of confidence and motivation. For a group assignment, she teamed up with Wang, but both did almost nothing until the last few days. They decide to meet on campus to prevent an empty submission. However, she finds it difficult to pick up the old routine: getting up on time, making the right coffee, putting on makeup, etc. She is not sure if wearing a mask on public transport is still required. In the metro, she is very sensitive to the sound of cough. It's been long since she was on campus, her memory about the buildings is faded and she hesitates about the directions as she rushes to the meeting.
						<!-- While Nina is a fictional character, many of us could relate to her issues at various levels. The goal of this film is to encourage everyone to regain the courage for social interactions and enjoy being together in person after the pandemic.</p> -->
						<!-- <p class="major">While Nina is a fictional character, many of us could relate to her issues at various levels. The goal of this film is to encourage everyone to regain the courage for social interactions and enjoy being together in person after the pandemic. </p> -->
						<p class="major">While Nina is a fictional character, many of us could relate to her issues at various levels. The goal of this film is to encourage everyone to regain the courage for social interactions and enjoy being together in person after the pandemic. </p>

<p class="major">The <b><a href="https://www.eventbrite.com/e/premiere-night-72-hour-vu-film-challenge-tickets-355339990477">premiere</a></b> was at the Rialto VU cinema from 7PM on 30th June, 2022. </p>
							<p class="major">Thanks for everyone who attended the premiere. The film was voted the winner of Audience Award for the <a href="https://www.instagram.com/vufilmchallenge/"><b>72 Hour VU Film Challenge</b></a>.</p>
<p class="major">You can find a video behind the scenes <b><a href="https://youtu.be/h2HL9RajEB0">here</a></b>.</p>
<!-- <div class="image"> -->
								<img width="300" src="{% static 'assets2/photos/celebration.jpg' %}" alt="" />
							<!-- </div> -->
<!-- <ul class="actions vertical"> -->
								<!-- <li><a href="https://www.eventbrite.com/e/premiere-night-72-hour-vu-film-challenge-tickets-355339990477" class="button big wide smooth-scroll-middle"><b>Get Ticket</b></a></li> -->
							<!-- </ul> -->

						</div>
						<div class="image" >
							<img src="{% static 'assets2/photos/0.jpg' %}" alt="" />
						</div>

					</section>





						</div>
						<br></br>
						</div>
						</section>




								<!-- Four -->
									<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
										<div class="content">
											<h2>Costanza Spadafora (as Nina)</h2>
											<p>Costanza played a student called Nina who suffers from post-pandemic social anxiety. She successfully captured the subtle change of emotions and demonstrated how Nina transformed from lacking confidence to enjoying social interaction again. </p>
											<!-- <p>Costanza played a student called Nina who suffers from post-pandemic social anxiety. She successfully captured the subtel change of emotions and demonstrated how Nina transformed from lacking of confidence to enjoying social interaction again. </p> -->
											<p>Costanza is the co-director and the main actress of this short film. To best match the mood and the scenes, she selected three great pieces of music and played the first one. In addition, she has contributed to the scenes, props, dialogues, editing, etc.</p>
											<p>Costanza is a final-year master student of Psychology at the Vrije Universiteit Amsterdam.</p>
										</div>
										<div class="image">
											<img src="{% static 'assets2/photos/1-small.jpeg' %}" alt="" />
										</div>
									</section>

									<!-- Three -->
										<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
											<div class="content">
												<h2>Shuai Wang (as Wang)</h2>
												<p>Shuai is the co-director and the cameraman of this short film. He was also the screenwriter and the lighting designer. He was in charge of editing and the final submission for the competition. </p>
												<p>He played the teammate of Nina, a character that brought up the idea to meet. He reduced Nina's social anxiety by lively conversations. </p>
												<p>Shuai is a Ph.D. student and a scientific engineer in the computer science department of the Vrije Universiteit Amterdam. </p>

											</div>
											<div class="image">
												<img src="{% static 'assets2/photos/2-small.jpg' %}" alt="" />
											</div>
										</section>

							</section>




<section class="wrapper style1 align-center">
<iframe width="100%" height="800"  align="center"  src="https://www.youtube.com/embed/liBpXRrQdLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

																				<!-- Additional Elements -->
																					<section class="wrapper style1 align-center">
																						<div class="inner">
																							<h2>Acknowledgement</h2>
																							<!-- <p>Thanks to the following people for your help, encouragement and .</p> -->
																							<div class="index align-left">




																								<!-- Definition List -->
																									<section>
																										<header>
																											<h3>Thank you all!</h3>
																										</header>
																										<div class="content">

																											<dl>
																												<dt>Thanks to the following people for your help, contribution and inspiration.</dt>
																												<dd>
																													<br>Roy Seerden</br>
																													<br>Tom</br>
																													<br>Suraya</br>

																														<br></br>
																												</dd>


																												<dt>Very special thanks to</dt>
																												<dd>
																													<br>Vrije University Amsterdam;</br>
																													<br>Rialto VU bioscoop;</br>
																													<br>Aylin and Claudia for organising the 72 Hour VU Film Challenge!</br>
																														<br></br>
																												</dd>

																												<dt>Special guests of premiere and online viewing.</dt>
																																	<dd>
																																		<br> 	Roy Seerden (director) </br>
																																		<br> 	Stephan Balay (director) </br>
																																		<br> 	Deanne de Vries (business woman and author) </br>
																																		<br> 	Felix Martin (university lecturer) </br>
<br> 	Shiyuan Liang (theater director) </br>
<br> 	Cristian Mercado (director and actor) </br>
																																		<br> Jack van Passen (architect) </br>
																																			<br> 	Lucian Paul-Trifu (computer engineer) </br>
																																			<br> Muzi Zhou (mathematician) </br>
																																			<br> 	Adi Kang (director) </br>
																																			<br> 	Zippo Guo (magician) </br>
																																			<br> 	Hjalmar Snoep (animation director) </br>
																																		<br> 	Quintus van Amstel (magician) </br>

																																		<br> 	Ata Turan (computer science student) </br>
																																		<br> 	Khaled Rabata (computer science student) </br>
																																		<br> 	Ikrame Zirar (computer scientist) </br>
																																		<br> 	Elix Liu (actress) </br>
																																		<br> 	Echo Chen (law student) </br>
																																		<br> 	Gezi Fu (business woman) </br>
<br> 	Junye Qu (business analyst) </br>
																																		<br> 	Ting Liu (computer scientist) </br>
<br> 	Chengcheng Fu (computer scientist) </br>
																																		<br> 	Timothy van Hijfte (law student) </br>
																																		<br> 	Franco Egidi (software developer of computational chemistry) </br>
																																		<br> 	Yeong Guk (manager) </br>
																																		<br> 	Shuaidong Yu (data engineer) </br>
																																		<br> 	Can Lokman (computer scientist) </br>
																																		<br> 	Andi Georgescu (manager) </br>


																												<br> 	Peter Mutale (data analyst) </br>

																													<br> Vincent (psychologist) </br>
																													<br> Kostis Thanos (data scientist) </br>
																												<br></br>
																												</dd>


																												</dd>





																											</dl>





																										</div>





																									</section>
