
{% load static %}



		<!-- Wrapper -->
			<div id="wrapper" class="divided">




				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">

							<h1>A Precious Shadow</h1>

							<p> > A Short Documentary</p>


							<p>My duties:  It is my honor to have worked with the CinemAsia team for on the <a href="https://studio-k.nu/film/filmlab-cinemasia23/">FILMLAB</a> project. I worked as a production assistant under the art director Xiang Yu and was the assistant of Amir Bar for sound. I used A.I. for the generation of images for the mood board (see below). </p>



							<!-- <p class="major">The pandemic has changed so many aspects of our lives. Many suffer from social anxiety after the society opens up again. It can be difficult for some to regain their lifestyle before the pandemic. For example, one can find it difficult to come to work or tell jokes in the office as before. Some may find it hard to be on time for appointments. Do you still remember when was the last time you shake someone's hand and look into his/her eyes and say 'Nice to meet you' ?  </p> -->
							<p class="major"><b>Summary: A dinner conversation with Chinese immigrants from the 90s who worked and lived in Amsterdam's Red Light District. The touching memories reignite a journey of nostalgia at the dinner table, ending with songs about missing home.</b></p>
							<!-- <p class="major"><i>Nice to meet you</i> is a short documentary-like story about Nina. She is a student who suffers from lonliness, procrastination, social anxiety, and the lack of confidence and motivation. For a group assignemnt, she teamed up with Wang, but both did almost nothing until the last few days. They decided to meet on campus to prevent an empty submission. However, she found it difficult to pick up the old routine: getting up on time, making the right coffee, brushing the eyelashes skillfully, etc. She was not sure if wearing a mask in public transportation is still required. While in the metro, she was very sensitive to the sound of cough. After a long time not coming to the university, her memory about the buildings faded away and she hesitated about the directions as she rushed to the meeting.</p> -->
						<p> Director: <a href="https://www.imdb.com/name/nm15006875/?ref_=tt_ov_dr"><u>Tenzing Woing</u></a> </p>

						<p> IMDB: <a href="https://www.imdb.com/title/tt28279321/?ref_=tt_rvi_tt_i_1"><u>link</u></a></p>

							<p>Honors:</p>

							<dl>
  <dt>&nbsp;&nbsp;&nbsp;2023 Amsterdam Student Film Festival</dt>
  <dd>&nbsp;&nbsp;&nbsp;&nbsp;- Winner of the audience award</dd>
	</br>
  <dt>&nbsp;&nbsp;&nbsp;2024 SHORTCUTZ Amsterdam Annual Awards</dt>
  <dd>&nbsp;&nbsp;&nbsp;&nbsp;- <a href="https://www.shortcutzamsterdam.com/nominees-2024"><u>Nominated</u></a> for the Mr. Zee Documentary Award</dd>
</dl>


<p class="major"><b>Generated Images for the Mood Board</b></p>
<p>
I used Dall-E 2 for the generation of images for the mood board. The generated images show that guests should not be wearing bright colors. Darker clothes are preferred.
</p>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-1.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-1.png' %}" alt="Cinque Terre" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-2.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-2.png' %}" alt="Forest" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-3.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-3.png' %}" alt="Northern Lights" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-4.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-4.png' %}" alt="Mountains" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-5.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-5.png' %}" alt="Mountains" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-6.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-6.png' %}" alt="Mountains" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-7.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-7.png' %}" alt="Mountains" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'assets2/photos/Dall-E-8.png' %}">
      <img src="{% static 'assets2/photos/Dall-E-8.png' %}" alt="Mountains" width="600" height="400">
    </a>
    <!-- <div class="desc">Add a description of the image here</div> -->
  </div>
</div>
						</div>
