
{% load static %}
<!-- Content -->
<a name="top"></a>
        <!-- Content -->
        <div class="cd-hero">

            <!-- Navigation -->
            <div class="cd-slider-nav">
                <nav class="navbar">
                    <div class="tm-navbar-bg">

                        <a class="navbar-brand text-uppercase" href="#"><i class="fa fa-picture-o tm-brand-icon"></i>Fluid Gallery</a>

                        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                            &#9776;
                        </button>
                        <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active selected">
                                    <a class="nav-link" href="#0" data-no="1">1st fluid <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="2">2nd fluid</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="3">3rd fluid</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="4">Columns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="5">Message</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>
            </div>

            <ul class="cd-hero-slider">
		<!-- Page 1 Gallery One -->
		<li class="selected">


			<svg viewbox="0 0 100 20">
			  <defs>
			    <linearGradient id="gradient">
			      <stop color="#000"/>
			    </linearGradient>
			    <pattern id="wave" x="0" y="-0.5" width="100%" height="100%" patternUnits="userSpaceOnUse">
			      <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
			        <animateTransform
			            attributeName="transform"
			            begin="0s"
			            dur="1.5s"
			            type="translate"
			            from="0,0"
			            to="40,0"
			            repeatCount="indefinite" />
			      </path>
			    </pattern>
			  </defs>
			  <text text-anchor="middle" x="20" y="10" font-size="10" fill="white" fill-opacity="0.1">Gallery</text>
			  <text text-anchor="middle" x="20" y="10" font-size="10" fill="url(#wave)"  fill-opacity="1">Gallery</text>
			</svg>


			<div class="cd-full-width">
				<div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
					<div class="img-gallery-container">
						<div class="img-gallery gallery-one">
						<!-- Gallery One pop up connected with JS code below -->
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-02-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>One</strong></span></h2> -->
										<p class="tm-figure-description">Pencil sketch, 2008.</p>
										<a href="{% static 'assets4/img/img-02.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-06-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Two</strong></span></h2> -->
										<p class="tm-figure-description">Oil painting, 2020.</p>
										<a href="{% static 'assets4/img/img-06.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-01-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Three</strong></span></h2> -->
										<p class="tm-figure-description">Pencil sketch, 2009.</p>
										<a href="{% static 'assets4/img/img-01.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-05-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Four</strong></span></h2> -->
										<p class="tm-figure-description">Oil painting, 2020</p>
										<a href="{% static 'assets4/img/img-05.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-07-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Five</strong></span></h2> -->
										<p class="tm-figure-description">Sculpture, 2019</p>
										<a href="{% static 'assets4/img/img-07.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-03-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Six</strong></span></h2> -->
										<p class="tm-figure-description">Pencil sketch, 2020.</p>
										<a href="{% static 'assets4/img/img-03.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-08-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Seven</strong></span></h2> -->
										<p class="tm-figure-description">Repainted Vintage salt & peper bottles, 2020.</p>
										<a href="{% static 'assets4/img/img-08.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-04-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Eight</strong></span></h2> -->
										<p class="tm-figure-description">Pencil sketch, 2009.</p>
										<a href="{% static 'assets4/img/img-04.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-10-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Nine</strong></span></h2> -->
										<p class="tm-figure-description">Warhammer, 2020.</p>
										<a href="{% static 'assets4/img/img-10.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-11-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Ten</strong></span></h2> -->
										<p class="tm-figure-description">Photography, Trondheim, Norway, 2019.</p>
										<a href="{% static 'assets4/img/img-11.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-09-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Eleven</strong></span></h2> -->
										<p class="tm-figure-description">Pencil sketch, 2009.</p>
										<a href="{% static 'assets4/img/img-09.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-12-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Twelve</strong></span></h2> -->
										<p class="tm-figure-description">Photography, Amsterdam, 2017.</p>
										<a href="{% static 'assets4/img/img-12.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-13-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Nine</strong></span></h2> -->
										<p class="tm-figure-description">Photography, Inner Mongolia, China, 2017.</p>
										<a href="{% static 'assets4/img/img-13.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-14-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Ten</strong></span></h2> -->
										<p class="tm-figure-description">Photography, Lake Garda, Italy, 2017.</p>
										<a href="{% static 'assets4/img/img-14.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-15-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Eleven</strong></span></h2> -->
										<p class="tm-figure-description">Photography, Trondheim, Norway, 2019.</p>
										<a href="{% static 'assets4/img/img-15.jpeg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-16-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Twelve</strong></span></h2> -->
										<p class="tm-figure-description">Oil painting, Amsterdam, 2020.</p>
										<a href="{% static 'assets4/img/img-16.jpeg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-17-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Nine</strong></span></h2> -->
										<p class="tm-figure-description">Pencil Sketch, 2009.</p>
										<a href="{% static 'assets4/img/img-17.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-18-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Ten</strong></span></h2> -->
										<p class="tm-figure-description">Marker Sketch, Liverpool, 2012.</p>
										<a href="{% static 'assets4/img/img-18.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-19-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Eleven</strong></span></h2> -->
										<p class="tm-figure-description">Acrylic, Amstelveen, 2020.</p>
										<a href="{% static 'assets4/img/img-19.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-20-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Twelve</strong></span></h2> -->
										<p class="tm-figure-description">Acrylic painting on a pan, Amstelveen, 2020.</p>
										<a href="{% static 'assets4/img/img-20.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>

							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-21-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Nine</strong></span></h2> -->
										<p class="tm-figure-description">Photography, Brazil, 2020.</p>
										<a href="{% static 'assets4/img/img-21.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-22-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Ten</strong></span></h2> -->
										<p class="tm-figure-description">Charcoal Sketch, Amsterdam, 2021.</p>
										<a href="{% static 'assets4/img/img-22.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-23-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Eleven</strong></span></h2> -->
										<p class="tm-figure-description">Pencil Sketch, Amsterdam, 2018.</p>
										<a href="{% static 'assets4/img/img-23.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
							<div class="grid-item">
								<figure class="effect-sadie">
									<img src="{% static 'assets4/img/img-24-tn.jpg' %}" alt="Image" class="img-fluid img">
									<figcaption>
										<!-- <h2 class="tm-figure-title">Image <span><strong>Twelve</strong></span></h2> -->
										<p class="tm-figure-description">Photograph, Trondheim, Norway, 2019.</p>
										<a href="{% static 'assets4/img/img-24.jpg' %}">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>






	<footer class="tm-footer">

		<div class="tm-social-icons-container text-xs-center">
			<a href="/art" class="tm-social-link"><i class="fa fa-home"></i></a>
			<a href="https://www.instagram.com/shuai.ai.ai/" class="tm-social-link"><i class="fa fa-camera-retro"></i></a>
			<!-- <a href="#" class="tm-social-link"><i class="fa fa-instgram"></i></a> -->
	  </div>

		<!-- <p class="tm-copyright-text">Copyright &copy; <span class="tm-copyright-year">current year</span> Your Company

		 | Design: TemplateMo</p> -->

	</footer>

</div> <!-- .cd-hero -->


<!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
<div id="loader-wrapper">

	<div id="loader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>

</div>
