
{% load static %}


<div class='preloader'><div class='loaded'>&nbsp;</div></div>
<div class="culmn">
	<header id="main_menu" class="header navbar-fixed-top">
		<div class="main_menu_bg">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#home">
										<!-- <img src="{% static 'assets3/images/logo.png' %}"/> -->
									</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->



								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

									<ul class="nav navbar-nav navbar-right">
										<li><a href="#home">HOME</a></li>
										<!-- <li><a href="#history">George</a></li> -->
										<!-- <li><a href="#register">REGISTRATION</a></li> -->
										<!-- <li><a href="#pricing">TAKE IT HOME</a></li> -->
										<!-- <li><a href="#team">TEAM</a></li> -->
										<!-- <li><a href="#blog">BLOG</a></li> -->
										<!-- <li><a href="#formid">LOCATION</a></li> -->
									</ul>


								</div>

							</div>
						</nav>
					</div>
				</div>

			</div>

		</div>
	</header> <!--End of header -->




	<!--home Section -->
	<section id="home" class="home">
		<div class="overlay">
			<div class="home_skew_border">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 ">
							<div class="main_home_slider text-center">
								<div class="single_home_slider">
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Exhibition</h3>
										<h1>GOLDEN</h1>
										<!-- <h3>19th - 29th August 2021</h3> -->
										<h3>- Shuai Wang -</h3>
										<div class="separator"></div>
										<h3>This is the virtual reality version of the exhibiton</h3>
										<h3>at the Cha x Art Gallery, Amsterdam</h3>
										<h3>14th - 15th August 2021</h3>
										<!-- <p>website under construction.</p> -->
										<!-- <p>An exhibition brought to you by Shuai Wang with love.</p> -->

										<!-- <p>A collection of eight stories about Dutch masters (and us).</p>
										<p>All items are offered for free after the exhibition. Don't forget to claim yours!</p>
										<div class="home_btn">
											<a href="#register" class="btn btn-lg m_t_10">Register</a>
											<a href="https://forms.gle/U92oRKCxczLPmcFU9" class="btn btn-default">Feedback</a>
										</div> -->

									</div>
								</div>
								<!-- <div class="single_home_slider" >
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Our Clients Are Our First Priority</h3>
										<h1>WELCOME TO BINO</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="https://bootstrapthemes.co" class="btn btn-lg m_t_10">GET STARTED NOW</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">LEARN MORE</a>
										</div>

									</div>
								</div>
								<div class="single_home_slider">
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Our Clients Are Our First Priority</h3>
										<h1>WELCOME TO BINO</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="https://bootstrapthemes.co" class="btn btn-lg m_t_10">GET STARTED NOW</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">LEARN MORE</a>
										</div>

									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="scrooldown">
					<a href="#feature"><i class="fa fa-arrow-down"></i></a>
				</div>
			</div>
		</div>
	</section><!--End of home section -->





	<!--feature section -->
	<section id="feature" class="feature sections">
		<div class="container">
			<div class="row">
				<div class="main_feature text-center">

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-clone"></i>
							</div>

							<h4>Studying the techniques</h4>
							<div class="separator3"></div>
							<p>A study of the techniques of some Dutch master pieces featuring human body, portraits, still life, abstract painting, etc.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-heart-o"></i>
							</div>

							<h4>Decoding love</h4>
							<div class="separator3"></div>

							<p>Understanding the masters's life and decoding their deepest love.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-lightbulb-o"></i>
							</div>
							<h4>CREATIng IDEAS</h4>
							<div class="separator3"></div>
							<p>Deleting the time dimension makes it possible for the masters to work with each other.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-comments-o"></i>
							</div>

							<h4>Exchanging Thoughts </h4>
							<div class="separator3"></div>
							<p>A conversation cross time and culture.</p>
						</div>
					</div>

				</div>
			</div>
		</div><!--End of container -->
	</section><!--End of feature Section -->
	<hr />





	<iframe width="100%" height="600" src="https://www.artsteps.com/embed/60f580f7643dce7e794ca702/560/315" frameborder="0" allowfullscreen></iframe>


	<!-- History section -->
	<!-- <section id="history" class="history sections">
		<div class="container">
			<div class="row">
				<div class="main_history">
					<div class="col-sm-6">
						<div class="single_history_img">
							<img src="{% static 'assets3/images/andi.jpg' %}" alt="" />
						</div>
					</div>

					<div class="col-sm-6">
						<div class="single_history_content">
							<div class="head_title">
								<h2><p class="lowercase">feat.</p>George</h2>
							</div>
							<p>George is an artist passionate for engaging with any kind of artistic experiment. He has been living in five countries where he fine-tuned his artistic nature by absorbing various cultures and connecting deeply with the acquaintances. Balancing between one’s demands and desires can be complicated. George will be releasing an anthology of verses showcasing the treacherous transformation from a naive love seeker to a lustful hunter.  </p>

							<a href="https://killingoblivion.wordpress.com/" class="btn btn-lg">More about George</a>
						</div>
					</div>
				</div>
			</div><!--End of row -->
		</div><!--End of container -->
	</section><!--End of history -->



	            <section id="portfolio" class="portfolio sections">
	                <div class="container-fluid">
	                    <div class="row">
	                        <div class="main_portfolio">
	                            <!-- <div class="col-sm-12">
	                                <div class="head_title text-center">
	                                    <h2>RECENT WORKS</h2>
	                                    <div class="subtitle">
	                                        It has survived not only five centuries, but also the leap scrambled it to make a type.
	                                    </div>
	                                    <div class="separator"></div>
	                                </div>
	                            </div> -->
	                            <div class="work_menu text-center">
	                                <div id="filters" class="toolbar mb2 mt2">
	                                    <button class="btn-md fil-cat filter active" data-filter="all">ALL</button>/
	                                    <button class="btn-md fil-cat filter" data-rel="web" data-filter=".web">Oil Painting</button>/
	                                    <button class="btn-md fil-cat filter" data-rel="design" data-filter=".design">Acrylic Painting</button>/
	                                    <button class="btn-md fil-cat filter" data-rel="flyers" data-filter=".flyers">Pencil & Charcoal Sketch</button>/
	                                    <button class="btn-md fil-cat filter" data-rel="bcards" data-filter=".bcards">Abstract</button>
	                                    <!-- <button class="btn-md fil-cat filter" data-rel="photo" data-filter=".photo">PHOTOGRAPHY</button>/
	                                    <button class="btn-md fil-cat filter" data-rel="video" data-filter=".video">VIDEO</button> -->
	                                </div>

	                            </div>

	                            <div style="clear:both;"></div>
	                            <div id="portfoliowork">
	                                <div class="single_portfolio tile scale-anm grid-item-width2 design bcards" >
	                                    <img src="{% static 'assets3/images/01-square.jpg' %}"alt=""/>
	                                    <a href="{% static 'assets3/images/01.jpg' %}" class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>%1</h3>
	                                            <p>Escher / Mondrian</p>
	                                        </div>
	                                    </a>
	                                </div>
	                                <div class="single_portfolio tile scale-anm web" >
	                                    <img src="{% static 'assets3/images/02-square.jpg' %}"  alt="" />
	                                    <a href="{% static 'assets3/images/02.jpg' %}"  class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>The Night Watch on fire</h3>
	                                            <p>Rembrandt</p>
	                                        </div>
	                                    </a>
	                                </div>
	                                <div class="single_portfolio tile scale-anm flyers">
	                                    <img src="{% static 'assets3/images/03-square.jpg' %}"  alt="" />
	                                    <a href="{% static 'assets3/images/03.jpg' %}"  class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>A study of ‘Cimon and Pero’</h3>
	                                            <p>Willem Drost</p>
	                                        </div>
	                                    </a>
	                                </div>
	                                <div class="single_portfolio tile scale-anm web photo" >
	                                    <img src="{% static 'assets3/images/07-square.jpg' %}" alt="" />
	                                    <a href="{% static 'assets3/images/07.jpg' %}"  class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>Yellow</h3>
	                                            <p>Van Gogh</p>
	                                        </div>
	                                    </a>
	                                </div>


	                                <div class="single_portfolio tile scale-anm design">
	                                    <img src="{% static 'assets3/images/06-square.jpg' %}"  alt="" />
	                                    <a href="{% static 'assets3/images/06.jpg' %}" class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>Vanitas with Semper Augustus</h3>
	                                            <p>Pieter Claesz / Erwin Olaf</p>
	                                        </div>
	                                    </a>
	                                </div>
	                                <div class="single_portfolio tile scale-anm photo flyers">
	                                    <img src="{% static 'assets3/images/04-square.jpg' %}" alt="" />
	                                    <a href="{% static 'assets3/images/04.jpg' %}"  class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>Dad</h3>
	                                            <p>Rembrandt</p>
	                                        </div>
	                                    </a>
	                                </div>
									<div class="single_portfolio tile scale-anm web design bcards" >
										<img src="{% static 'assets3/images/05-square.jpg' %}"  alt="" />
										<a href="{% static 'assets3/images/05.jpg' %}"  class="portfolio-img">
											<div class="grid_item_overlay">
												<div class="separator4"></div>
												<h3>Inheritance</h3>
												<p>Van Gogh / Appel</p>
											</div>
										</a>
									</div>
	                                <div class="single_portfolio tile scale-anm flyers video bcards" >
	                                    <img src="{% static 'assets3/images/08-square.jpg' %}"  alt="" />
	                                    <a href="{% static 'assets3/images/08.jpg' %}"  class="portfolio-img">
	                                        <div class="grid_item_overlay">
	                                            <div class="separator4"></div>
	                                            <h3>Sunflower</h3>
	                                            <p>Cuypers / Constant / Vermeer </p>
	                                        </div>
	                                    </a>
	                                </div>

	                            </div>

	                            <div style="clear:both;"></div>
	                        </div>
	                    </div>
	                </div><!-- End off container -->
	            </section> <!-- End off Work Section -->





								<!-- Counter Section -->
								<section id="counter" class="counter">
									<div class="video_overlay">
										<div class="container">
											<div class="row">
												<div class="col-sm-12">
													<div class="main_counter_area text-center">

														<div class="row">
															<div class="single_counter border_right">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-people-1"></i>
																		<h2 class="statistic-counter">11</h2>
																		<h4 class="">artists studied</h4>
																	</div>
																</div>
															</div>

															<div class="single_counter">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-business-3"></i>
																		<h2 class="statistic-counter">8</h2>
																		<h4 class="">paintings</h4>
																	</div>
																</div>
															</div>

															<div class="single_counter">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-business-2"></i>
																		<h2 class="statistic-counter">5</h2>
																		<h4 class="">illustrations</h4>
																	</div>

																</div>
															</div>

															<div class="single_counter">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-people-32"></i>
																		<h2 class="statistic-counter">56</h2>
																		<h4 class="">visitors in gallery</h4>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div><!-- End off container -->
								</section>   <!-- End of counter section -->






	<section id="register"  class="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="contact_contant sections">
						<div class="head_title text-center">
							<ul style="list-style-type:none;">
							<li>
<img src="{% static 'assets3/images/calendar.jpg' %}" alt=""  width="180"/>
							<img src="{% static 'assets3/images/alex.jpg' %}" alt=""  width="180"/>

							<img src="{% static 'assets3/images/joe.jpg' %}" alt=""  width="180"/>

						<img src="{% static 'assets3/images/david.jpg' %}" alt=""  width="180"/>
						<img src="{% static 'assets3/images/ting.jpg' %}" alt=""  width="180"/>


							<!-- <img src="{% static 'assets2/images/p4.jpg' %}" alt=""  width="180"/> -->
							</li>
							<li>
							<img src="{% static 'assets3/images/sun.jpg' %}" alt=""  width="180"/>
<img src="{% static 'assets3/images/dog.jpg' %}" alt=""  width="180"/>
	<img src="{% static 'assets3/images/bar.jpg' %}" alt=""  width="180"/>
<img src="{% static 'assets3/images/entrance.jpg' %}" alt=""  width="180"/>
<img src="{% static 'assets3/images/sing.jpg' %}" alt=""  width="180"/>
							</li>
</br>
							<div class="main_trial">
								<div class="col-sm-12">
									<h2>Thank you very much for visiting!</span></h2>
									<!-- <h4>Please follow the QR code for a tip or transfer to Shuai at</h4> -->
									<!-- <h4>NL88 INGB 0700 0872 zero six</h4> -->
									<!-- <img src="{% static 'assets3/images/qr.jpg' %}" alt="" width="30%" /> -->
									<!-- <a href="https://calendly.com/shuai-ai" class="btn btn-lg">To registration</a> -->
								</div>

								<img src="{% static 'assets3/images/spin.gif' %}" alt=""  width="380"/>
							</div>
							<div class="separator"></div>

<h4>This website is based on the tempalte <a href="https://bootstrapthemes.co/">Bino</a> </h4>
						</div><!-- End off Head_title -->


					</div>
				</div>
			</div>
		</div>
	</section><!-- End of contact section -->



</div>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
	<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
