
{% load static %}


<div class='preloader'><div class='loaded'>&nbsp;</div></div>
<div class="culmn">
	<header id="main_menu" class="header navbar-fixed-top">
		<div class="main_menu_bg">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#home">
										<!-- <img src="{% static 'assets3/images/logo.png' %}"/> -->
									</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->



								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

									<ul class="nav navbar-nav navbar-right">
										<li><a href="#home">HOME</a></li>
										<li><a href="#history">Andi</a></li>
										<li><a href="#portfolio">REGISTRATION</a></li>
										<li><a href="#pricing">TAKE IT HOME</a></li>
										<!-- <li><a href="#team">TEAM</a></li> -->
										<!-- <li><a href="#blog">BLOG</a></li> -->
										<li><a href="#contact">ACKNOWLEDGEMENT</a></li>
									</ul>


								</div>

							</div>
						</nav>
					</div>
				</div>

			</div>

		</div>
	</header> <!--End of header -->




	<!--home Section -->
	<section id="home" class="home">
		<div class="overlay">
			<div class="home_skew_border">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 ">
							<div class="main_home_slider text-center">
								<div class="single_home_slider">
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Mini Exhibition</h3>
										<h1>GOLDEN</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="#first" class="btn btn-lg m_t_10">Register</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">Take it home</a>
										</div>

									</div>
								</div>
								<!-- <div class="single_home_slider" >
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Our Clients Are Our First Priority</h3>
										<h1>WELCOME TO BINO</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="https://bootstrapthemes.co" class="btn btn-lg m_t_10">GET STARTED NOW</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">LEARN MORE</a>
										</div>

									</div>
								</div> -->
								<!-- <div class="single_home_slider">
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Our Clients Are Our First Priority</h3>
										<h1>WELCOME TO BINO</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="https://bootstrapthemes.co" class="btn btn-lg m_t_10">GET STARTED NOW</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">LEARN MORE</a>
										</div>

									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="scrooldown">
					<a href="#feature"><i class="fa fa-arrow-down"></i></a>
				</div>
			</div>
		</div>
	</section><!--End of home section -->


	<!--feature section -->
	<section id="feature" class="feature sections">
		<div class="container">
			<div class="row">
				<div class="main_feature text-center">

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-clone"></i>
							</div>

							<h4>SLEEK DESIGN</h4>
							<div class="separator3"></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting let.
								Lorem Ipsum has been the industry.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-heart-o"></i>
							</div>

							<h4>CLEAN CODE</h4>
							<div class="separator3"></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting let.
								Lorem Ipsum has been the industry.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-lightbulb-o"></i>
							</div>
							<h4>CREATIVE IDEAS</h4>
							<div class="separator3"></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting let.
								Lorem Ipsum has been the industry.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-comments-o"></i>
							</div>

							<h4>FREE SUPPORT</h4>
							<div class="separator3"></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting let.
								Lorem Ipsum has been the industry.</p>
						</div>
					</div>

				</div>
			</div>
		</div><!--End of container -->
	</section><!--End of feature Section -->
	<hr />


	<!-- Team Section -->
	<section id="team" class="team">
		<div class="main_team_area">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="head_title textwhite text-center margin-top-80">
							<h2>MEET THE MASTERS</h2>
							<div class="subtitle">
								Time travel. Meet the craziest artist. /Witness or change some of their very important moments.
							</div>
							<div class="separator"></div>
						</div><!-- End off Head_title -->

						<div class="main_team">
							<ul>
								<li>
									<div class="single_team_img">
										<img src="{% static 'assets3/images/team1.png' %}" alt="" />
									</div>
									<div class="single_team_text">
										<h4>Rembrandt van Rijn</h4>
										<p>Founder xvcbfjfusafds</p>
									</div>
								</li>
								<li>
									<div class="single_team_img">
										<img src="{% static 'assets3/images/team2.png' %}" alt="" />
									</div>
									<div class="single_team_text">
										<h4>Willem Drost</h4>
										<p>Enginee rin gfdsa fdsaf dsafdsa fdsafdsafs </p>
									</div>
								</li>
								<li>
									<div class="single_team_img">
										<img src="{% static 'assets3/images/team3.png' %}" alt="" />
									</div>
									<div class="single_team_text">
										<h4>Johannes Vermeer</h4>
										<p>Marketing Delft</p>
									</div>
								</li>

								<li>
									<div class="single_team_img">
										<img src="{% static 'assets3/images/team4.png' %}" alt="" />
									</div>
									<div class="single_team_text">
										<h4>Vincent van Gogh</h4>
										<p>Designer</p>
									</div>
								</li>

								<li>
									<div class="single_team_img">
										<img src="{% static 'assets3/images/team5.png' %}" alt="" />
									</div>
									<div class="single_team_text">
										<h4>Piet Mondrian</h4>
										<p>Web Developer</p>
									</div>
								</li>
							</ul>
						</div>

					</div><!-- End of main team contant -->
				</div>
			</div><!-- End of container -->
		</div>
	</section><!-- End off Team Section -->




	<!-- Study Section -->
	<section id="study" class="study text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
		<div class="container">
			<div class="row">
				<div class="main_study_area sections">
					<div class="head_title text-center">
						<h2>CASE STUDY</h2>
						<div class="subtitle">
							A brief story about how this process works, keep an eye till the end.
						</div>
						<div class="separator"></div>
					</div>
					<div class="single_study_content">
						<div class="col-sm-6">
							<div class="single_study_slid_area">

								<div class="single_study_text">
									<div class="study_slider">
										<div class="item">
											<div class="s_study_icon">
												<i class="fa fa-lightbulb-o"></i>
											</div>
											<h4>Discover the hidden message</h4>
											<div class="separator3"></div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
												Lorem Ipsum is simply dummy text of the printing and typesetting let.
												Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>

											<a href="" class="btn btn-lg">read more</a>
										</div>
										<div class="item">
											<div class="s_study_icon">
												<i class="fa fa-lightbulb-o"></i>
											</div>
											<h4>aCCUMULATE CREATIVE IDEAS</h4>
											<div class="separator3"></div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
												Lorem Ipsum is simply dummy text of the printing and typesetting let.
												Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>

											<a href="" class="btn btn-lg">read more</a>
										</div>
										<div class="item">
											<div class="s_study_icon">
												<i class="fa fa-lightbulb-o"></i>
											</div>
											<h4>aCCUMULATE CREATIVE IDEAS</h4>
											<div class="separator3"></div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
												Lorem Ipsum is simply dummy text of the printing and typesetting let.
												Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>

											<a href="" class="btn btn-lg">read more</a>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="single_study_right_img">
							<div class="col-sm-6">
								<div class="single_study_img">
									<img height =700 src="{% static 'assets3/images/study.jpg' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End off row -->
		</div><!-- End off Container -->
	</section><!-- End off Study Section -->




		<!-- Counter Section -->
		<section id="counter" class="counter">
			<div class="video_overlay">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="main_counter_area text-center">

								<div class="row">
									<div class="single_counter border_right">
										<div class="col-sm-3 col-xs-12">
											<div class="single_counter_item">
												<i class="icon icon-people-32"></i>
												<h2 class="statistic-counter">12</h2>
												<h4 class="">artists studied</h4>
											</div>
										</div>
									</div>

									<div class="single_counter">
										<div class="col-sm-3 col-xs-12">
											<div class="single_counter_item">
												<i class="icon icon-business-3"></i>
												<h2 class="statistic-counter">7</h2>
												<h4 class="">paintings</h4>
											</div>
										</div>
									</div>

									<div class="single_counter">
										<div class="col-sm-3 col-xs-12">
											<div class="single_counter_item">
												<i class="icon icon-business-2"></i>
												<h2 class="statistic-counter">5</h2>
												<h4 class="">illustrations</h4>
											</div>

										</div>
									</div>

									<div class="single_counter">
										<div class="col-sm-3 col-xs-12">
											<div class="single_counter_item">
												<i class="icon icon-cup"></i>
												<h2 class="statistic-counter">150</h2>
												<h4 class="">visitors expected</h4>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End off container -->
		</section>   <!-- End of counter section -->



	<!-- History section -->
	<section id="history" class="history sections">
		<div class="container">
			<div class="row">
				<div class="main_history">
					<div class="col-sm-6">
						<div class="single_history_img">
							<img src="{% static 'assets3/images/andi.jpeg' %}" alt="" />
						</div>
					</div>

					<div class="col-sm-6">
						<div class="single_history_content">
							<div class="head_title">
								<h2><p class="lowercase">feat.</p>Andi</h2>
							</div>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page
								when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
								distribution of letters, as opposed to using 'Content here, content here', making it
								look like readable English. Many desktop publishing packages and web page editors now use
								Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

							<a href="" class="btn btn-lg">More about Andi</a>
						</div>
					</div>
				</div>
			</div><!--End of row -->
		</div><!--End of container -->
	</section><!--End of history -->





	<section id="trial" class="trial text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
		<div class="main_trial_area">
			<div class="video_overlay sections">
				<div class="container">
					<div class="row">
						<div class="main_trial">
							<div class="col-sm-12">
								<h2>Register now! <span>It's FREE*!</span></h2>
								<h4>*Free exit not guaranteed. Cash tips are welcomed!</h4>
								<a href="" class="btn btn-lg">To registration</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Trial section -->



	<section id="contact" class="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="contact_contant sections">
						<div class="head_title text-center">
							<h2>kEEP IN TOUCH</h2>
							<div class="subtitle">
								Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
							</div>
							<div class="separator"></div>
						</div><!-- End off Head_title -->
						<div class="row">
							<div class="col-sm-6">
								<div class="main_contact_info">
									<div class="row">
										<div class="contact_info_content padding-top-90 padding-bottom-60 p_l_r">
											<div class="col-sm-12">
												<div class="single_contact_info">
													<div class="single_info_text">
														<h3>ADDRESS</h3>
														<h4>Cha x Art Gallery, Eerste Constantijn Huygensstraat 78HS, 1054 BW Amsterdam</h4>
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="single_contact_info">
													<div class="single_info_text">
														<h3>CALL US</h3>
														<h4>+31 652691901 (Shuai)</h4>
														<h4>+31 621172300 (Andi)</h4>
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="single_contact_info">
													<div class="single_info_text">
														<h3>EMAIL US</h3>
														<h4>shuai.wang.vu@gmail.com</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="single_contant_left padding-top-90 padding-bottom-90">
									<form action="#" id="formid">
										<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">

											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.3829265150516!2d4.872267715525987!3d52.36347625557014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609ebbd4ed8ab%3A0x76966c90d3af69f0!2zQ2hhIHggQXJ0IOiMtumbhuWcuuWQiA!5e0!3m2!1sen!2snl!4v1625582492845!5m2!1sen!2snl" width="380" height="420" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of contact section -->










</div>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
	<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
