
{% load static %}



		<!-- Wrapper -->
			<div id="wrapper" class="divided">




				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<p> > Exhibition</p>
							<h1>20 Hands in 2020</h1>

							<p class="major">2020 has just passed but we can hardly draw a line that separates it from the present. It has been a year that preyed on the weak and the sick; a year that claimed lives and tested trust; a year filled with division and panic; a year flooded with frustration and isolation. It’s our 2020.</p>
							<p class="major">Why hands? Hands are challenging to draw: the muscles, blood vessels, accessoires, and lights; the dynamics, gestures, positioning and even how aged the skin is. When not presented together with the faces, the meaning of these hands can be generalised. It is also a language whose semantics varies depending on the reader.</p>

							<p class="major"> This small exhibition consists of 12 paintings of 20 hands. Due to lockdowns in the Netherlands, the exhibition only took place online. This page is an archive.</p>
							<ul class="actions vertical">
								<li><a href="#first" class="button big wide smooth-scroll-middle">Start Revision</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="{% static 'assets2/images/0-intro.jpg' %}" alt="" />
						</div>
					</section>


					<!-- Two -->
						<section class="wrapper style1 align-center" id="first">
							<br></br>
							<div class="content">
							<div class="inner">
								<h2>Promotion Video</h2>
								<p>The video is originally made for the promotion of the exhibition.</p>

								<iframe width="750" height="500" src="https://www.youtube.com/embed/j-hAmxX54kk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
<br></br>
						</div>
						</section>






						</div>
						<br></br>
						</div>
						</section>


				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>#1 See you again</h2>
							<p>Death was an unavoidable topic in 2020. It could have been an accident, a planned bio-weapon attack, or a murder. However, hardly do people in our times associate it with a global pandemic for us sapiens. I don’t know how all this will come to an end, but I’ll tell you all about it when I see you again, Kobe.</p>
							<p>&#x2733; Based on a photo of Kobe Bryant’s hands and feet print at the TCL Chinese Theatre In Los Angeles, USA.</p>
						</div>
						<div class="image">
							<img src="{% static 'assets2/images/1.JPG' %}" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>#2 No Magic</h2>
							<p>It’s been a year that preyed on the weak and the vulnerable. Some had to take on all kinds of temporary jobs for a living. There is no magic. The virus won’t disappear like a miracle.</p>
							<p>&#x2733; The hands are from a portrait photo of a magician.</p>
						</div>
						<div class="image">
							<img src="{% static 'assets2/images/2.JPG' %}" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>#3 The resting knife</h2>
							<p>It’s been a very hard time for bars and restaurants, as well as chefs, servers, etc. When unemployment becomes an issue, the same knife that served you can also cause violence and riots.</p>
							<p>&#x2733; The painting was glued on a chopping board.</p>
						</div>
						<div class="image">
							<img src="{% static 'assets2/images/3.JPG' %}" alt="" />
						</div>
					</section>


					<!-- Three -->
						<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
							<div class="content">
								<h2>#4 The washing hands</h2>
								<p>The shortage of medical supplies was made worse by inequality between nations. </p>
								<p>&#x2733; The most popular advertisement of the year is to wash/disinfect your hands.</p>
							</div>
							<div class="image">
								<img src="{% static 'assets2/images/4.JPG' %}" alt="" />
							</div>
						</section>

					<!-- Four -->
						<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
							<div class="content">
								<h2>#5 The sound of a pandemic</h2>
								<p>I will never forget the concerts on the balconies and the live streams during quarantine and lockdown.  Music has a magic power to heal. I surely know it now. You are not left alone. You are not facing it by yourself. We are here to keep you company, all of us.</p>
								<p>&#x2733; Based on a photo taken in a cello lesson.</p>
							</div>
							<div class="image">
								<img src="{% static 'assets2/images/5.JPG' %}" alt="" />
							</div>
						</section>



						<!-- Three -->
							<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
								<div class="content">
									<h2>#6 僕が死のうと思ったのは</h2>
									<p>You are not left alone. You are not facing it by yourself. We are here to keep you company, all of us. </p>
									<p>&#x2733; Displayed in a golden-color frame and surrounded with butterflies on the back. </p>
								</div>
								<div class="image">
									<img src="{% static 'assets2/images/6.jpg' %}" alt="" />
								</div>
							</section>

						<!-- Four -->
							<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
								<div class="content">
									<h2>#7 Holding a bible</h2>
									<p>How to hold a bible?</p>

<p>How many times can a man turn his head and pretend that he just didn't see?</p>

<p>How many deaths will it take until he knows that too many people have died?</p>

<p>The answer, my friend, is blowin' in the wind...</p>

									<p>&#x2733; My first charcoal drawing since childhood :D</p>
								</div>
								<div class="image">
									<img src="{% static 'assets2/images/7.JPG' %}" alt="" />
								</div>
							</section>


							<!-- Three -->
								<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
									<div class="content">
										<h2>#8 Key</h2>
										<p>It’s hard to hold the temper and maintain values when one’s actions are driven by emotions. </p>
										<p>&#x2733; The key was kindly offered by my flatmate after my bike was stolen.</p>
									</div>
									<div class="image">
										<img src="{% static 'assets2/images/8.JPG' %}" alt="" />
									</div>
								</section>

							<!-- Four -->
								<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
									<div class="content">
										<h2>#9 In the name of science, we trust</h2>
										<p>Beside Donald Trump stands this man. He is short and he doesn’t speak as loud. However, His words matter because he speaks in the name of science.</p>
										<p>&#x2733; Based on a photo of Dr. Anthony Fauci speaking in the White House.</p>
										<p>&#x2733; The masks were brushed with a thin layer of glue to hold the colors of the markers and pasted on a clipboard.</p>
									</div>
									<div class="image">
										<img src="{% static 'assets2/images/9.JPG' %}" alt="" />
									</div>
								</section>

								<!-- Three -->
									<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
										<div class="content">
											<h2>#10 The Merkel Diamond</h2>
											<p>Cold in evidence-based policy making. Warm when showing empathy.</p>
											<p>&#x2733; Based on a photo of the corresponding Wikipedia page.</p>
										</div>
										<div class="image">
											<img src="{% static 'assets2/images/10.JPG' %}" alt="" />
										</div>
									</section>

								<!-- Four -->
									<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
										<div class="content">
											<h2>#11 Heal the world</h2>
											<p>What happened forced us into a new form of living and working which is worth thinking and designing.</p>
											<p>It won’t be short (soon) before we can shake hands again. Together, let’s make it a better place, for you and for me, and the entire human race. </p>
											<p> &#x2733; A creative use of the most demanded product of 2020 - the toilet paper. It was dissolved and reformed using a paper-making frame with flowers as decoration.</p>
										</div>
										<div class="image">
											<img src="{% static 'assets2/images/11.JPG' %}" alt="" />
										</div>
									</section>

									<!-- Three -->
										<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
											<div class="content">
												<h2>#12 What a wonderful world</h2>
												<p>The EU’s long-term recovery plan will probably leave its next generation in debt. I’m not sure what this means to them but I’m sure they will learn much more than we will ever know. </p>
												<p>&#x2733; Based on a photo from the dad who is a nurse. </p>
											</div>
											<div class="image">
												<img src="{% static 'assets2/images/12.JPG' %}" alt="" />
											</div>
										</section>
</div



										<!-- Additional Elements -->
											<section class="wrapper style1 align-center">
												<div class="inner">
													<h2>Details</h2>
													<p>The interpretation of items is inspired by the models but should not be taken personally. All the paintings were given away for free. It is my honor to have the items collected by the following people.</p>
													<div class="index align-left">

										<!-- Table -->

											<section>
												<header>
													<h3>Models and Collectors</h3>
												</header>
												<div class="content">

													<!-- <h4>Default</h4> -->
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Item</th>
																	<th>Model</th>
																	<th>Collector</th>
																	<!-- <th>Size</th> -->
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Item 1</td>
																	<td>Kobe Bryant (basketball player)</td>
																	<td>Majd</td>
																	<!-- <td>15x23cm</td> -->
																</tr>
																<tr>
																	<td>Item 2</td>
																	<td>Quintus van Amstel (magician)</td>
																	<td>Quintus van Amstel</td>
																</tr>
																<tr>
																	<td>Item 3</td>
																	<td> Jim Verberg (chef)</td>
																	<td>Jim Verberg</td>
																</tr>
																<tr>
																	<td>Item 4</td>
																	<td>An anonymous people from the news (probably an African girl)</td>
																	<td>Tobias van der Bijl</td>
																</tr>
																<tr>
																	<td>Item 5</td>
																	<td>Antonis Pratsinakis (cellist)</td>
																	<td>Antonis Pratsinakis</td>
																</tr>
																<tr>
																	<td>Item 6</td>
																	<td>Margaux Pons (psychologist)</td>
																	<td>Margaux Pons</td>
																</tr>
																<tr>
																	<td>Item 7</td>
																	<td>Willem Nieuwboer (evangelist)</td>
																	<td>Willem Nieuwboer</td>
																</tr>
																<tr>
																	<td>Item 8</td>
																	<td>Shuai Wang (student)</td>
																	<td>Micha Meinderts</td>
																</tr>
																<tr>
																	<td>Item 9</td>
																	<td>Anthony Fauci (physician and immunologist)</td>
																	<td>Frank</td>
																</tr>
																<tr>
																	<td>Item 10</td>
																	<td>Angela Merkel (politician)</td>
																	<td>Jan-Jelle de Meijer</td>
																</tr>
																<tr>
																	<td>Item 11</td>
																	<td>Two anonymous people (probably two business women)</td>
																	<td>Felix Martin</td>
																</tr>
																<tr>
																	<td>Item 12</td>
																	<td>Jeremiah Niles and Sela Niles (a nurse and his daughter)</td>
																	<td>Jeremiah and Natasja Niles</td>
																</tr>


															</tbody>
															<!-- <tfoot>
																<tr>
																	<td colspan="2"></td>
																	<td>100.00</td>
																</tr>
															</tfoot> -->
														</table>
													</div>





												</div>
												<ul style="list-style-type:none;">
												<li>
												<img src="{% static 'assets2/images/p1.jpeg' %}" alt=""  width="180"/>
												</li>
												<li>
												<img src="{% static 'assets2/images/p2.jpg' %}" alt=""  width="180"/>
												</li>
												<li>
												<img src="{% static 'assets2/images/p3.jpg' %}" alt=""  width="180"/>
												</li>
												<li>
												<img src="{% static 'assets2/images/p4.jpg' %}" alt=""  width="180"/>
												</li>
												<li>
												<img src="{% static 'assets2/images/p5.jpg' %}" alt=""  width="180"/>
												</li>

											</section>


											<section>
												<header>
													<h3>Specifications</h3>
												</header>
												<div class="content">

													<!-- <h4>Default</h4> -->
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Item</th>
																	<th>Media</th>
																	<th>Theme</th>
																	<th>Size</th>
																	<!-- <th>Size</th> -->
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Item 1</td>
																	<td>Oil painting</td>
																	<td>Death</td>
																	<td>15x23cm</td>
																	<!-- <td>15x23cm</td> -->
																</tr>
																<tr>
																	<td>Item 2</td>
																	<td>Acrylic painting</td>
																	<td>The vulnerable</td>
																	<td>32x23cm</td>
																</tr>
																<tr>
																	<td>Item 3</td>
																	<td>Acrylic painting</td>
																	<td>Unemployment</td>
																	<td>21x30cm</td>
																</tr>
																<tr>
																	<td>Item 4</td>
																	<td>Watercolor painting</td>
																	<td>Protection</td>
																	<td>21x28cm</td>
																</tr>
																<tr>
																	<td>Item 5</td>
																	<td>Acrylic painting</td>
																	<td>Healing</td>
																	<td>40x130cm</td>
																</tr>
																<tr>
																	<td>Item 6</td>
																	<td>Oil painting</td>
																	<td>Mental Health</td>
																	<td>14x20cm</td>
																</tr>
																<tr>
																	<td>Item 7</td>
																	<td>Charcoal drawing</td>
																	<td>Belief</td>
																	<td>22x28cm</td>
																</tr>
																<tr>
																	<td>Item 8</td>
																	<td>Acrylic painting</td>
																	<td>Values</td>
																	<td>29x23cm</td>
																</tr>

																<tr>
																	<td>Item 9</td>
																	<td>Marker drawing</td>
																	<td>Trust</td>
																	<td>29x21cm</td>
																</tr>
																<tr>
																	<td>Item 10</td>
																	<td>Acrylic painting</td>
																	<td>Leadership</td>
																	<td>36x52cm</td>
																</tr>
																<tr>
																	<td>Item 11</td>
																	<td>Acrylic painting</td>
																	<td>Resilience</td>
																	<td>19x25cm</td>
																</tr>

																<tr>
																	<td>Item 12</td>
																	<td>Pencil drawing</td>
																	<td>Hope</td>
																	<td>21x38cm</td>
																</tr>

															</tbody>
															<!-- <tfoot>
																<tr>
																	<td colspan="2"></td>
																	<td>100.00</td>
																</tr>
															</tfoot> -->
														</table>

													</div>

																									<img src="{% static 'assets2/images/q3.jpg' %}" alt=""  width="600"/>
													</div>


												</div>

											</section>




									</div>


								</div>
							</section>








																				<!-- Additional Elements -->
																					<section class="wrapper style1 align-center">
																						<div class="inner">
																							<h2>Acknowledgement</h2>
																							<p>The exhibition received 189 visitors in 2 weeks (mostly in the first two days). Thanks to the following people for your help, encouragement and inspiration.</p>
																							<div class="index align-left">




																								<!-- Definition List -->
																									<section>
																										<header>
																											<h3>Thank you all!</h3>
																										</header>
																										<div class="content">

																											<dl>
																												<dt>Thanks to the following people for your help, encouragement and inspiration.</dt>
																												<dd>
																													<br> Antonis Pratsinakis, for your inspiration;</br>
																													<br>Minghong Yu, for your encouragement and referral;</br>
																													<br>Fin Zhao and Ziyue, for your trust and kindly renting out your precious gallery;</br>
																													<br>Yunzhen Kuang, for your encouragement and your feedback;</br>
																													<br>Yeong Guk Lee (Boy), for lending me your camera;</br>
																													<br>Łukasz Koterba, for your inspiration;</br>
																													<br>Jeremiah Niels, for proof reading the text.</br>
																														<br></br>
																												</dd>


																												<dt>Very special thanks to</dt>
																												<dd>
																													<br>Jennifer Stock, for your inspiration and discovery of my art talent;</br>
																													<br>Quintus van Amstel, for your inspiration and trust;</br>
																													<br>Gaurav Sehrawat, for your help with this website and your feedback!</br>
																														<br></br>
																												</dd>

																												<dt>Special guests.</dt>
																												<dd>
																													<br> Javier Torras Casas (artist, UK/Spain) </br>
																													<br> Cristian Mercado (actor & director & musician, Bolivia)</br>
																													<br>Christoph Muller (artist, Switzerland)</br>
																													<br> Stefan Balay (director, France) </br>
																													<br> 	Roy Seerden (director, the Netherlands) </br>
																													<br> Erik Alkema (artist & director, the Netherlands) </br>
																													<br>Lars Laumann (artist, Norway)</br>
																													<br> Caroline van Bavel (singer, the Netherlands)</br>
																													<br>Antonis Pratsinakis (cellist, the Netherlands)</br>
																													<br>Miaoyi Shih (buddhist master, Taiwan/the Netherlands)</br>
																													<br> Elix Wenjia Liu (actress, the Netherlands/China) </br>
																														<br> Lucian Paul-Trifu (computer engineer, Romania/UK) </br>
																														<br> Ethan Tan (businessman, Singapore) </br>
																														<br> Aaron Clark (manager, USA) </br>
																														<br> Igor Zen and Caio Sampaio (dentists, Brazil)</br>
																														<br> Francisco Braccini (DRM engineer, Brazil) </br>
																														<br> Alessandro Devo and Cecilia Cristinariu (computer scientists, Italy) </br>
																												<br></br>



																												</dd>





																											</dl>





																										</div>





																									</section>




																									<section>
																										<header>
																											<h3>References and templates</h3>
																										</header>
																										<div class="content">

																											<dl>
																												<dd>
																													<p>The <a href="https://economictimes.indiatimes.com/magazines/panache/kobe-bryants-lakers-jersey-medals-to-go-on-auction/articleshow/74392871.cms">Image </a> of Kobe</p>
																													<p>The <a href="https://www.npr.org/sections/coronavirus-live-updates/2020/04/30/848478507/fauci-says-its-doable-to-have-millions-of-doses-of-covid-19-vaccine-by-january?t=1604479887336">Photo</a> of Dr. Fauci </p>
																													<p>The <a href="https://www.globalwaters.org/resources/assets/water-currents-wash-and-covid-19">Photo</a> of the washing hands</p>
																													<p>The <a href="https://en.wikipedia.org/wiki/Merkel-Raute">Wikipedia page</a> of Merkel-Raute</a></p>
																													<p>The <a href="https://www.amazon.com/Cold/dp/B00E91OYLC"> background music: </a> Cold, by Jorge Méndez (in the promotion video)</p>
																													<p>The <a href="https://www.facebook.com/Information-Technology-142362175864155/videos/these-extreme-macro-zoomed-images-are-extremely-beautiful-/787801228721413/"> video</a> by Unilad Tech Macrofying (at the beginning of the the promotion video)</p>
																													<p> Webpage template 'Story' by HTML5 UP (html5up.net)</p>
																														<br></br>
																												</dd>


																											</dl>

																										</div>



																											<ul style="list-style-type:none;">
																											<li>
																											<img src="{% static 'assets2/images/q1.jpg' %}" alt=""  width="280"/>
																											</li>
																											<li>
																											<img src="{% static 'assets2/images/q2.jpg' %}" alt=""  width="280"/>
																											</li>
																										  </ul>
