
{% load static %}



		<!-- Wrapper -->
			<div id="wrapper" class="divided">




				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<p> > Illustration</p>
							<h1>LUST</h1>


							<p class="major"> It was a great honor to have contributed to <a href="https://www.instagram.com/george.leotta/"><u>George's</u></a> poetry collection. Five of my paintings were selected as Illustration for the book.</p>
<p class="major"> “Lust” is intended as a poetry experiment that revolves around the idea of physical and emotional attachment and how this can develop in various ways. At times, emotions can be consumed in seemingly satisfying ways, yet it can derogate towards libidinous paths.</p>
							<ul class="actions vertical">
								<li><a href="https://www.amazon.nl/-/en/George-G-Leotta-ebook/dp/B0B75QTZ2D" class="button big wide smooth-scroll-middle">Order the book!</a></li>
							</ul>


						</div>
						<div class="image">
							<img src="{% static 'assets3/images/lust.jpg' %}" alt="" />
						</div>
					</section>






						</div>
						<br></br>
						</div>
						</section>
<center>
						<img src="{% static 'assets3/images/andi.jpg' %}" alt="Amsterdam" height="700" >
</center>


<center>
						<img src="{% static 'assets3/images/lust1.jpeg' %}" alt="innocent" height="500">
</center>

<center>
						<img src="{% static 'assets3/images/lust2.jpeg' %}" alt="body" width="500" >
</center>


<center>
						<img src="{% static 'assets3/images/lust3.jpeg' %}" alt="skin" width="500" >
</center>


<center>
						<img src="{% static 'assets3/images/lust4.jpeg' %}" alt="mask" width="500">
</center>
