
{% load static %}


<div class='preloader'><div class='loaded'>&nbsp;</div></div>
<div class="culmn">
	<header id="main_menu" class="header navbar-fixed-top">
		<div class="main_menu_bg">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#home">
										<!-- <img src="{% static 'assets5/images/logo.png' %}"/> -->
									</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->



								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

									<ul class="nav navbar-nav navbar-right">
										<li><a href="#home">HOME</a></li>
										<!-- <li><a href="#history">George</a></li> -->
										<!-- <li><a href="#register">REGISTRATION</a></li> -->
										<!-- <li><a href="#pricing">TAKE IT HOME</a></li> -->
										<!-- <li><a href="#team">TEAM</a></li> -->
										<!-- <li><a href="#blog">BLOG</a></li> -->
										<!-- <li><a href="#formid">LOCATION</a></li> -->
									</ul>


								</div>

							</div>
						</nav>
					</div>
				</div>

			</div>

		</div>
	</header> <!--End of header -->




	<!--home Section -->
	<section id="home" class="home">
		<div class="overlay">
			<div class="home_skew_border">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 ">
							<div class="main_home_slider text-center">
								<div class="single_home_slider">
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>VR Exhibition</h3>
										<h1>Seeing the Words</h1>
										<!-- <h3>19th - 29th August 2021</h3> -->
										<h3>- Maki (Hidde Makimei), Shuai Wang, Willem van Peursen -</h3>
										<div class="separator"></div>
										<h3>This is a virtual reality exhibiton</h3>
										<h3>as a part of the Network Institute's <a href="https://networkinstitute.org/2023/06/20/niaa-end-of-the-year-event-2023/">end-of-the-year celebration</a></h3>
										<h3>5th July 2023, NU building, Amsterdam</h3>
										<!-- <p>website under construction.</p> -->
										<!-- <p>An exhibition brought to you by Shuai Wang with love.</p> -->

										<!-- <p>A collection of eight stories about Dutch masters (and us).</p>
										<p>All items are offered for free after the exhibition. Don't forget to claim yours!</p>
										<div class="home_btn">
											<a href="#register" class="btn btn-lg m_t_10">Register</a>
											<a href="https://forms.gle/U92oRKCxczLPmcFU9" class="btn btn-default">Feedback</a>
										</div> -->

									</div>
								</div>
								<!-- <div class="single_home_slider" >
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Our Clients Are Our First Priority</h3>
										<h1>WELCOME TO BINO</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="https://bootstrapthemes.co" class="btn btn-lg m_t_10">GET STARTED NOW</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">LEARN MORE</a>
										</div>

									</div>
								</div>
								<div class="single_home_slider">
									<div class="main_home wow fadeInUp" data-wow-duration="700ms">
										<h3>Our Clients Are Our First Priority</h3>
										<h1>WELCOME TO BINO</h1>
										<div class="separator"></div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.</p>
										<div class="home_btn">
											<a href="https://bootstrapthemes.co" class="btn btn-lg m_t_10">GET STARTED NOW</a>
											<a href="https://bootstrapthemes.co" class="btn btn-default">LEARN MORE</a>
										</div>

									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="scrooldown">
					<a href="#feature"><i class="fa fa-arrow-down"></i></a>
				</div>
			</div>
		</div>
	</section><!--End of home section -->





	<!--feature section -->
	<section id="feature" class="feature sections">
		<div class="container">
			<div class="row">
				<div class="main_feature text-center">

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-clone"></i>
							</div>

							<h4>ENVISION RELIGIOUS STORIES</h4>
							<div class="separator3"></div>
							<p>Generating images using text from the bible.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-heart-o"></i>
							</div>

							<h4>UNDERSTANDING BIAS AND STEREOTYPES</h4>
							<div class="separator3"></div>

							<p>Understanding the bias and steretypes inherited from training data.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-lightbulb-o"></i>
							</div>
							<h4>EVERY PIXEL COUNTS</h4>
							<div class="separator3"></div>
							<p>More details, more accuracy, more precise.</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="single_feature">
							<div class="single_feature_icon">
								<i class="fa fa-comments-o"></i>
							</div>

							<h4>AUGUMENTED CREATIVITY</h4>
							<div class="separator3"></div>
							<p>Interpreting the bible beyond human creativity.</p>
						</div>
					</div>

				</div>
			</div>
		</div><!--End of container -->
	</section><!--End of feature Section -->
	<hr />





	<iframe width="100%" height="720" src="https://www.artsteps.com/embed/6496f83617ee27c1157d0830/1280/720" frameborder="0" allowfullscreen></iframe>



	<!-- History section -->
	<!-- <section id="history" class="history sections">
		<div class="container">
			<div class="row">
				<div class="main_history">
					<div class="col-sm-6">
						<div class="single_history_img">
							<img src="{% static 'assets5/images/andi.jpg' %}" alt="" />
						</div>
					</div>

					<div class="col-sm-6">
						<div class="single_history_content">
							<div class="head_title">
								<h2><p class="lowercase">feat.</p>George</h2>
							</div>
							<p>George is an artist passionate for engaging with any kind of artistic experiment. He has been living in five countries where he fine-tuned his artistic nature by absorbing various cultures and connecting deeply with the acquaintances. Balancing between one’s demands and desires can be complicated. George will be releasing an anthology of verses showcasing the treacherous transformation from a naive love seeker to a lustful hunter.  </p>

							<a href="https://killingoblivion.wordpress.com/" class="btn btn-lg">More about George</a>
						</div>
					</div>
				</div>
			</div><!--End of row -->
		</div><!--End of container -->
	</section><!--End of history -->





								<!-- Counter Section -->
								<section id="counter" class="counter">
									<div class="video_overlay">
										<div class="container">
											<div class="row">
												<div class="col-sm-12">
													<div class="main_counter_area text-center">

														<div class="row">
															<div class="single_counter border_right">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-people-1"></i>
																		<h2 class="statistic-counter">25</h2>
																		<h4 class="">master art pieces in comparison</h4>
																	</div>
																</div>
															</div>

															<div class="single_counter">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-business-3"></i>
																		<h2 class="statistic-counter">4500</h2>
																		<h4 class="">generated images</h4>
																	</div>
																</div>
															</div>

															<div class="single_counter">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-business-2"></i>
																		<h2 class="statistic-counter">9</h2>
																		<h4 class="">Image generation models</h4>
																	</div>

																</div>
															</div>

															<div class="single_counter">
																<div class="col-sm-3 col-xs-12">
																	<div class="single_counter_item">
																		<i class="icon icon-people-32"></i>
																		<h2 class="statistic-counter">6</h2>
																		<h4 class="">tools for evaluation</h4>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div><!-- End off container -->
								</section>   <!-- End of counter section -->






</div>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
	<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
