
{% load static %}
 <br>
  <br>


<h2>   <center>Shuai Wang </center></h2>

<div class="row">
  <div class="column" >

<!-- Hover #1 -->
<div class="box-1"><a href="hands">
  <div class="btn btn-two">
    <span>Exhibition: 20 hands in 2020</span>
  </div></a>
</div>

<!-- Hover #2 -->
<div class="box-3"><a href="golden">
  <div class="btn btn-two">
    <span>Exhibition: Golden</span>
  </div></a>
</div>

<!-- Hover #3 -->
<div class="box-2"><a href="seeing">
  <div class="btn btn-two">
    <span>Exhibition: Seeing the words</span>
  </div></a>
</div>

<div class="box-2"><a href="gallery">
  <div class="btn btn-two">
    <span>Gallery</span>
  </div></a>
</div>


</div>



    <div class="column" >

<center> <img src="{% static 'images/me.jpg' %}" style="width:70%""> </center>

</br>
Shuai studied singing with Caroline van Bavel for pop and (electric) cello with Antonis Pratsinakis. He is a self-taught artist for painting, design and film.

<center>
</br>


<div class="box-2"><a href="{% static 'files/cv.pdf' %}">
  <div class="btn btn-one">
    <span>Download CV</span>
  </div></a>
</div>


</center>
</div>


  <div class="column" >





        <!-- Hover #4 -->
        <div class="box-2"><a href="lust">
          <div class="btn btn-two">
            <span>Illustration for LUST</span>
          </div></a>
        </div>


    <!-- Hover #4 -->
    <div class="box-2"><a href="film">
      <div class="btn btn-two">
        <span>Film: Nice to MEET you</span>
      </div></a>
    </div>


    <!-- Hover #4 -->
    <div class="box-2"><a href="film2">
      <div class="btn btn-two">
        <span>Film: A Precious Shadow</span>
      </div></a>
    </div>


    <!-- Hover #4 -->
    <div class="box-2"><a href="design">
      <div class="btn btn-two">
        <span>Design</span>
      </div></a>
    </div>


<!-- Hover #5 -->

</div>



</div>
