
<!-- Hover #1 -->
<div class="box-1"><a href="hands">
  <div class="btn btn-one">
    <span>Exhibition: 20 hands in 2020</span>
  </div></a>
</div>

<!-- Hover #2 -->
<div class="box-3"><a href="golden">
  <div class="btn btn-three">
    <span>Exhibition: Golden</span>
  </div></a>
</div>

<!-- Hover #3 -->
<div class="box-1"><a href="seeing">
  <div class="btn btn-three">
    <span>Exhibition: Seeing the words</span>
  </div></a>
</div>



<!-- Hover #4 -->
<div class="box-2"><a href="film">
  <div class="btn btn-two">
    <span>Film: Nice to meet you</span>
  </div></a>
</div>


<!-- Hover #5 -->
<div class="box-3"><a href="gallery">
  <div class="btn btn-three">
    <span>Gallery</span>
  </div></a>
</div>
