
<!-- Hover #1 -->
<div class="box-1"><a href="hands">
  <div class="btn btn-one">
    <span>20 hands in 2020</span>
  </div></a>
</div>

<!-- Hover #2 -->
<div class="box-3"><a href="golden">
  <div class="btn btn-three">
    <span>Golden</span>
  </div></a>
</div>

<!-- Hover #3 -->
<div class="box-2"><a href="film">
  <div class="btn btn-two">
    <span>Film</span>
  </div></a>
</div>


<!-- Hover #3 -->
<div class="box-3"><a href="gallery">
  <div class="btn btn-three">
    <span>Gallery</span>
  </div></a>
</div>
