
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">




	    	<!--SERVICES-->
	    	<section class="white-bg" id="services">
	    	  <div class="container">
	    		<div class="row">
	    		  <div class="col-md-3">
	    			<h3 class="title-small">
	    			  <span>Activities</span>
	    			</h3>
	    			<p class="content-detail">
	    			On the right, you can find details of some presentations since 2022 as well as the corresponding slides. </br>
	    			</p>
					<!-- <p class="content-detail">
					Feel free to drop me an email if you would like to let me do a presentation in your group.
					</p> -->

	    		  </div>




				  <div class="col-md-9 content-right">

					  <!-- <h3 class="title-small">
					    <span>Below are some datasets (and tools) in my research:</span>
					  </h3> -->
 <div class="col-md-9 content-right">
				    <div class="row">
				  	<ul class="listing-item">



              <!-- <li>
                <p class="head">
              Presentation title: FAIR Implementation Profiles for Social Science
                </p>
                <p class="text-grey">
              October 2023, <a href="http://www.mtsr-conf.org/home">MTSR</a>, Milan, Italy
              </br>
              <a href="{% static 'files/paper/MTSR_paper.pdf' %}">>paper</a>
              <a href="{% static 'files/presentation/MTSR_poster.pdf' %}">>slides</a>


              </p>
              </li> -->



                  <li>
                    <p class="head">
                  Presentation title: Towards Rigorous Data Upcycling using the FAIR Implementation Profile for the SSHOC-NL Socio-Economic History Community
                    </p>
                    <p class="text-grey">
                  November 2023, <a href="https://dhd-blog.org/?p=19292">Legacy4reuse Online Workshop: Criteria and Methods for Upcycling Data Collections in Social and Economic History</a>, online
                  </br>
                  <a href="{% static 'files/paper/upcycling.pdf' %}">>paper</a>
                  <a href="{% static 'files/presentation/upcycling_2023.pdf' %}">>slides (to come)</a>


                  </p>
                  </li>





              <li>
                <p class="head">
              Presentation/Demo/Thesis Abstract
                </p>
                <p class="text-grey">
              November 2023, <a href="https://bnaic2023.tudelft.nl/">BNAIC</a>, Delft, the Netherlands
              </br>
              <!-- <a href="{% static 'files/paper/MTSR_paper.pdf' %}">>paper</a>
              <a href="{% static 'files/presentation/MTSR_poster.pdf' %}">>slides</a> -->


              </p>
              </li>





              <li>
                <p class="head">
              Poster title: Converting and Enriching Geo-annotated Event Data: Integrating Information for Ukraine Resilience
                </p>
                <p class="text-grey">
              November 2023, <a href="https://sigspatial2023.sigspatial.org/">ACM SIGSPATIAL</a>, Hamburg, Germany
              </br>
              <a href="{% static 'files/paper/SIGSPATIAL_paper.pdf' %}">>paper</a>
              <a href="{% static 'files/poster/SIGSPATIAL_poster.pdf' %}">>poster</a>
              <a href="https://www.linked4resilience.eu">>website</a>

              </p>
              </li>

              <li>
                <p class="head">
              Presentation title: FAIR Implementation Profiles for Social Science
                </p>
                <p class="text-grey">
              October 2023, <a href="https://odissei-data.nl/calendar/odissei-conference-2023/">MTSR Conference</a>, Utrecht, the Netherlands
              </br>
              <a href="{% static 'files/paper/MTSR_paper.pdf' %}">>paper</a>
              <a href="{% static 'files/presentation/MTSR2023.pdf' %}">>slides</a>


              </p>
              </li>

              <li>
                <p class="head">
              Presentation title: Semi-automatic Entity Recognition Using Historical Occupational Vocabulary
                </p>
                <p class="text-grey">
              August 2023, <a href="https://eshd2023.eshd.eu/">5th Conference Of The European Society Of Historical Demography</a>, Radboud University Nijmegen, Nijmegen, the Netherlands
              </br>
            <a href="{% static 'files/presentation/ESHD-30thAugust2023.pdf' %}">>slides</a>

              </p>
              </li>

          <li>
            <p class="head">
          Program Committee of the <a href="https://sites.google.com/stanford.edu/2023-ld4-conference/home">LD4 Conference</a>
            </p>
            <p class="text-grey">
          July, PC member, LD4, online
          </br>
          <a href="https://sites.google.com/stanford.edu/2023-ld4-conference/home">>website</a>

          </p>
          </li>


              <li>
                <p class="head">
              Poster: Identifying Historical Occupations in Unstructured Texts: A User-centric Approach
                </p>
                <p class="text-grey">
            June 2023, DHBenelux 2023, Belgium
              </br>
              <a href="{% static 'files/poster/dhbenelux.pdf' %}">>poster</a>

              </p>
              </li>

              <li>
                <p class="head">
              Presentation Title: Refining Large Integrated Identity Graphs using the Unique Name Assumption
                </p>
                <p class="text-grey">
           Co-chair of the KG refinement and validation session, June 2023, ESWC 2023, Greece
              </br>
              <a href="{% static 'files/paper/eswc2023-extended.pdf' %}">>paper</a> <a href="{% static 'files/presentation/ESWC-2023-presentation.pdf' %}">>presentation</a>

              </p>
              </li>


              <li>
                <p class="head">
              Invited talk: What's next for Homosaurus: Open, Linked, and Multilingual?
                </p>
                <p class="text-grey">
              May 2023, IHLIA, Amsterdam
              </br>
              <a href="{% static 'files/presentation/todo.pdf' %}">>slides</a>

              </p>
              </li>

              <li>
                <p class="head">
              Presentation Title: Evaluating automated translation of LGBTQ terms: towards multilingual Homosaurus
                </p>
                <p class="text-grey">
            March 2023, DH Global 2023, online
              </br>
              <a href=https://youtu.be/56r8MlAFBVg>>video</a>

              </p>
              </li>


                          <li>
                                        <p class="head">
                                      Presentation Title: Evaluating automated translation of LGBTQ terms: towards multilingual Homosaurus
                                        </p>
                                        <p class="text-grey">
                        9th December, 2022, LGBTQIA+ Research Day 2022, Amsterdam
                          </br>
                          <a href="{% static 'files/presentation/LGBTQ_day.pdf' %}">>slides</a>

                          </p>
                          </li>


                          <li>



              <li>
                            <p class="head">
                          Presentation Title: Introducing the FAIR Expertise Hub
                            </p>
                            <p class="text-grey">
            21st November, 2022, RDM and OS symposium, VU Amsterdam, Amsterdam
              </br>
              <a href="{% static 'files/presentation/VUOpenScience-FAIR-Expertise-Hub.pdf' %}">>slides</a>

              </p>
              </li>




              <li>
                            <p class="head">
                          Presentation Title: Examining the Evolution of Identity and Redirection in the LOD Cloud
                            </p>
                            <p class="text-grey">
              9th November, 2022, BNAIC, Mechelen, Belgium.
              </br>
              <a href="{% static 'files/presentation/WAI_Evo_identity.pdf' %}">>slides</a>

              </p>
              </li>



              <!-- https://mepdaw-ws.github.io/2022/ -->
              <li>
                            <p class="head">
                          Presentation Title: What does it mean when your URIs are redirected? Examining identity and redirection in the LOD cloud
                            </p>
                            <p class="text-grey">
              23rd October, 2022, <a href="https://mepdaw-ws.github.io/2022/">MEPDaW Workshop</a>@ISWC, online.
              </br>
              <a href="{% static 'files/presentation/MEPDaW-presentation.pdf' %}">>slides</a>

              </p>
              </li>

  						<li>
  												  <p class="head">
  												Presentation Title: Examining the Evolution of Identity and Redirection in the LOD Cloud
  												  </p>
  												  <p class="text-grey">
  						19th September, 2022, WAI, VU Amsterdam.
  						</br>
  						<a href="{% static 'files/presentation/WAI_Evo_identity.pdf' %}">>slides</a>

  						</p>
  						</li>

						<li>
												  <p class="head">
												Poster Title: On the Analysis of Large Integrated Knowledge Graphs for Economics, Banking, and Finance
												  </p>
												  <p class="text-grey">
						6-7th April,2022, <a href="https://www.ictopen.nl/">ICT Open 2022</a>, Amsterdam.
						</br>
						<a href="{% static 'files/poster/ICT_Open_poster_Shuai.pdf' %}">>poster</a>
						<a href="{% static 'files/paper/EcoFinKG_paper_final.pdf' %}">>paper</a>
						<a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a>
						</p>
						</li>


						<li>
												  <p class="head">
												Presentation Title: On the Analysis of Large Integrated Knowledge Graphs for Economics, Banking, and Finance
												  </p>
												  <p class="text-grey">
						29th Mar,2022, <a href="https://ecofinkg22.knowledgegraph.science/">EcoFinKG workshop</a>, EDBT/ICDT 2022.
						</br>
						<a href="{% static 'files/presentation/EcoFin_presentation.pdf' %}">>slides</a>
						<a href="{% static 'files/paper/EcoFinKG_paper_final.pdf' %}">>paper</a>
						<a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a>
						</p>
						</li>

						<li>
										  		  <p class="head">
										  		Presentation Title: Refining Transitive and Pseudo-Transitive Relations at Web Scale
										  		  </p>
										  		  <p class="text-grey">
						24th Jan,2022, <a href="https://www.lisn.upsaclay.fr/">Laboratoire Interdisciplinaire des Sciences du Numérique</a>, University of Paris-Saclay.
						</br>
						<a href="{% static 'files/presentation/Shuai_Presentation_LISN_Paris_2022.pdf' %}">>slides</a>
						<a href="{% static 'files/paper/ShuaiESWC2021_Final_CameraReady.pdf' %}">>paper</a>
						<a href="https://github.com/shuaiwangvu/Refining-Transitive-Relations">>code</a>
						</p>
						</li>

<li>
				  		  <p class="head">
				  	Presentation Title: On the Analysis of Large Integrated Knowledge Graphs for Economics, Banking, and Finance
				  		  </p>
				  		  <p class="text-grey">
17th Jan,2022, the Epsilon presentation, KR&R group, VU Amsterdam
</br>
<a href="{% static 'files/presentation/EcoFin_presentation_Epsilon.pdf' %}">>slides</a>
<a href="{% static 'files/paper/EcoFinKG_paper_final.pdf' %}">>paper</a>
<a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a>
</p>
</li>

<p class="head">
Presentation Title: Refining Large Identity Graphs using the Unique Name Assumption
</p>
<p class="text-grey">
10th Jan,2022, the Epsilon presentation, KR&R group, VU Amsterdam
</br>
<a href="{% static 'files/presentation/Shuai_Presentation_SameAsEq_2022_Epsilon.pdf' %}">>slides</a>
<a href="{% static 'files/paper/Shuai_SameAsEq-Epsilon2022.pdf' %}">>paper</a>
<a href="https://github.com/shuaiwangvu/SameAsEq-new">>code</a>>
</p>
</li>

				  	</ul>
				    </div>
				  </div>


			  </div>
	    		</div>
	    	  </div>
	    	</section>
	    	<!--/.SERVICES END-->




	   <!--FOOTER-->
	   <footer>
		 <div class="footer-top">
		   <!-- <ul class="socials">
			 <li class="facebook">
			   <a href="#" data-hover="Facebook">Facebook</a>
			 </li>
			 <li class="twitter">
			   <a href="#" data-hover="Twitter">Twitter</a>
			 </li>
			 <li class="gplus">
			   <a href="#" data-hover="Google +">Google +</a>
			 </li>
		   </ul> -->
		 </div>

	   </footer>
	   <!--/.FOOTER-END-->

	  </div>
	   <!--/.CONTENT END-->
	   </div>
	 <!--/.CONTENT-WRAP END-->
	 </div>

	{% endblock content %}
