
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">




	    	<!--SERVICES-->
	    	<section class="white-bg" id="services">
	    	  <div class="container">
	    		<div class="row">
	    		  <div class="col-md-3">
	    			<h3 class="title-small">
	    			  <span>Data</span>
	    			</h3>
	    			<p class="content-detail">
	    			  My data is in three falvours!
	    			</p>
	    		  </div>
	    		  <div class="col-md-9 content-right">
	    			<div class="row">
	    			  <ul class="listing-item">
						  <li>
						    <div class="col-md-4 col-sm-4">
						  	<h3 class="icon-use">
						  	  c
						  	</h3>
						  	<p class="head-sm">
						  	Data Analysis
						  	</p>
						  	<p class="text-grey">
						  	  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
						  	</p>
						    </div>
						  </li>
							<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  t
	    					</h3>
	    					<p class="head-sm">
	    					  Refinement
	    					</p>
	    					<p class="text-grey">
	    					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
	    					</p>
	    				  </div>
	    				</li>

	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  n
	    					</h3>
	    					<p class="head-sm">
	    					Validation and Checking
	    					</p>
	    					<p class="text-grey">
	    					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
	    					</p>
	    				  </div>
	    				</li>


	    			  </ul>

	    			  <ul class="listing-item">
	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<p class="icon-use">
	    					  p
	    					</p>
	    					<p class="head-sm">
	    					  <a href="/research/teaching">Feature Analysis</a>
	    					</p>
	    					<p class="text-grey">
	    					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
	    					</p>
	    				  </div>
	    				</li>



	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  l
	    					</h3>
	    					<p class="head-sm">
	    					  <a href="/research/activities">Annotation</a>
	    					</p>
	    					<p class="text-grey">
	    					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
	    					</p>
	    				  </div>
	    				</li>

						<li>
						  <div class="col-md-4 col-sm-4">
							<h3 class="icon-use">
							  h
							</h3>
							<p class="head-sm">
							  Publishing
							</p>
							<p class="text-grey">
							  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
							</p>
						  </div>
						</li>

	    			  </ul>

	    			</div>
	    		  </div>
	    		</div>
	    	  </div>
	    	</section>
	    	<!--/.SERVICES END-->

	   <!--FOOTER-->
	   <footer>
		 <div class="footer-top">
		   <ul class="socials">
			 <li class="facebook">
			   <a href="#" data-hover="Facebook">Facebook</a>
			 </li>
			 <li class="twitter">
			   <a href="#" data-hover="Twitter">Twitter</a>
			 </li>
			 <li class="gplus">
			   <a href="#" data-hover="Google +">Google +</a>
			 </li>
		   </ul>
		 </div>

	   </footer>
	   <!--/.FOOTER-END-->

	  </div>
	   <!--/.CONTENT END-->
	   </div>
	 <!--/.CONTENT-WRAP END-->
	 </div>

	{% endblock content %}
