
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">




	    	<!--SERVICES-->
	    	<section class="white-bg" id="services">
	    	  <div class="container">
	    		<div class="row">
	    		  <div class="col-md-3">
	    			<!-- <h3 class="title-small">
	    			  <span>Data</span>
	    			</h3> -->
					<h2 >
					  <span>Data</span>
					</h2>
	    			<p class="content-detail">
	    			I work mostly with linked data and knowledge graphs. I perform analysis, study the features and develop refinement algorithms to improve the quality of data. I have also developed tools for fast manual annotation.
</br>
In addition, I have worked with proofs in higher order logic and data in bioinformatics.
	    			</p>
	    		  </div>


	    		  <div class="col-md-9 content-right">
	    			<div class="row">
	    			  <ul class="listing-item">
						  <li>
						    <div class="col-md-4 col-sm-4">
						  	<h3 class="icon-use">
						  	  c
						  	</h3>
						  	<p class="head-sm">
						  	Data Analysis
						  	</p>
						  	<p class="text-grey">
						  	I perform logic-based and graph-theoretical analysis of large knowledge graphs.
						  	</p>
						    </div>
						  </li>
							<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  t
	    					</h3>
	    					<p class="head-sm">
	    					  Refinement
	    					</p>
	    					<p class="text-grey">
	    					  I develop hybrid refinement algorithms and improve the quality of large knowledge graphs.
	    					</p>
	    				  </div>
	    				</li>

	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  n
	    					</h3>
	    					<p class="head-sm">
	    					Validation and Checking
	    					</p>
	    					<p class="text-grey">
	    					 I worked with proofs of higher order logic (transformation and proof checking).
	    					</p>
	    				  </div>
	    				</li>


	    			  </ul>

	    			  <ul class="listing-item">
	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<p class="icon-use">
	    					  p
	    					</p>
	    					<p class="head-sm">
	    					  <a href="/research/teaching">Feature Analysis</a>
	    					</p>
	    					<p class="text-grey">
	    					 I use Machine Learning for the extraction and analysis of features in knowledge graphs.
	    					</p>
	    				  </div>
	    				</li>



	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  l
	    					</h3>
	    					<p class="head-sm">
	    					  <a href="/research/activities">Annotation</a>
	    					</p>
	    					<p class="text-grey">
	    					  I developed tools for the annotation of gold standards.
	    					</p>
	    				  </div>
	    				</li>

						<li>
						  <div class="col-md-4 col-sm-4">
							<h3 class="icon-use">
							  h
							</h3>
							<p class="head-sm">
							  Publishing
							</p>
							<p class="text-grey">
							I have published many datasets that could you interesting for you!
							</p>
						  </div>
						</li>

	    			  </ul>
	    			</div>
	    		  </div>


				  <div class="col-md-9 content-right">

					  <h3 class="title-small">
					    <span>Below are some datasets (and tools) in my research:</span>
					  </h3>
 <div class="col-md-9 content-right">
				    <div class="row">
				  	<ul class="listing-item">
				  		<li>
				  		  <!-- <div class="col-md-4 col-sm-4"> -->
				  		  <!-- <h3 class="icon-use">
				  			c
				  		  </h3> -->

						  <p class="head-sm">
						A large integrated knowledge graph of Ecnomics, Finance and Banking
						  </p>
						  <p class="text-grey">
						  You can find a large integrated knowledge graph of Ecnomics, Finance and Banking with 527k entities and 1.5 million triples on <a href="https://github.com/shuaiwangvu/EcoFin-integrated/blob/main/data/integrated.hdt"><u>Github</u></a>.
						  </p>

				  		  <p class="head-sm">
				  		Annotated (pseudo-)transitive relations
				  		  </p>
				  		  <p class="text-grey">
				  		  You can find a manually annotated gold standard of (pseudo-)transitive relations and the corresponding weighted graphs on <a href="https://zenodo.org/record/4610000#.Yd1uEBPMJQI"><u>Zenodo</u></a>.
				  		  </p>

						  <p class="head-sm">
						  Annotated identity graphs
						  </p>
						  <p class="text-grey">
						  You can find a manually annotated gold standard of identity links and the corresponding weighted graphs, redirect graphs and graphs that captures equivalence under different encodings on <u>Zenodo</u> (to come).
						  </p>
				  		  <!-- </div> -->

							<p class="head-sm">
							ANN'it (a fast annotation tool)
							</p>
							<p class="text-grey">
							You can find a sketchy tool for fast annotation of triples and entities on <a href="https://github.com/shuaiwangvu/ANNit"><u>Github</u></a>
							</p>
				  		</li>
				  	</ul>
				    </div>
				  </div>


			  </div>
	    		</div>
	    	  </div>
	    	</section>
	    	<!--/.SERVICES END-->




	   <!--FOOTER-->
	   <footer>
		 <div class="footer-top">
		   <!-- <ul class="socials">
			 <li class="facebook">
			   <a href="#" data-hover="Facebook">Facebook</a>
			 </li>
			 <li class="twitter">
			   <a href="#" data-hover="Twitter">Twitter</a>
			 </li>
			 <li class="gplus">
			   <a href="#" data-hover="Google +">Google +</a>
			 </li>
		   </ul> -->
		 </div>

	   </footer>
	   <!--/.FOOTER-END-->

	  </div>
	   <!--/.CONTENT END-->
	   </div>
	 <!--/.CONTENT-WRAP END-->
	 </div>

	{% endblock content %}
