
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">
 	<!--HOME-->
 	<section id="home">
 	  <div class="container">
 		<div class="row">
 		  <div class="wrap-hero-content">
 			  <!--  -->
 				<!-- <h1>Hello</h1>
 				<br>
 				 -->
 			  <!--  -->
 			  <div class="animated-title">
 			  <div class="text-top">
 			  <div>
 			  <span>Linked Data</span>
 			  <span>Knowledge Graph</span>
 			  </div>
 			  </div>
 			  <div class="text-bottom">
 			  <div>Artificial Intelligence</div>
 			  </div>

 		  </div>
 		  <div class="mouse-icon margin-20">
 			<div class="scroll"></div>
 		  </div>
 		</div>
 	  </div>
 	</section>
 	<!--/.HOME END-->



		<!--ABOUT-->
		<section id="about">
		  <div class="col-md-6 col-xs-12 no-pad">
			<div class="bg-about"></div>
			<!-- <img src="images/reza.jpg" alt="Italian Trulli"> -->
		  </div>

		  <div class="col-md-6 col-sm-12 col-xs-12 white-col">
			<div class="row">
			  <!--OWL CAROUSEL2-->
			  <div class="owl-carousel2">
				<div class="col-md-12">
				  <div class="wrap-about">
					<div class="w-content">




				<!-- <p>See the next tab for contact details.</p> -->
				<div class="wrap-about">
				  <table class="w-content">

					<tr>
					  <td class="title"></td>
					  <td class="break"></td>
					  <!-- <td> <a href="{% static 'files/cv_two_pages.pdf' %}">A 2-page CV</a></td> -->
					  <td><div class="button" id="button-5">
					    <div id="translate"></div>
					    <a href="{% static 'files/cv_two_pages.pdf' %}">Short CV</a>
					  </div></td>
					</tr>

					<tr>
					  <td class="title"></td>
					  <td class="break"></td>
					  <td> <div class="button" id="button-5">
  					  <div id="translate"></div>
  					  <a href="{% static 'files/cv_full.pdf' %}">Complete CV</a>
  					</div></td>
					<tr>
					  <td class="title"></td>
					  <td class="break"></td>
					  <td> <div class="button" id="button-5">
					  <div id="translate"></div>
					  <a href="https://github.com/shuaiwangvu">Github</a>
					</div></td>

					</tr>
					<tr>
					  <td class="title"></td>
					  <td class="break"></td>
					  <td> <div class="button" id="button-5">
					  <div id="translate"></div>
					  <a href="https://orcid.org/0000-0002-1261-9930">ORCID</a>
					</div></td>

					</tr>



<!--  -->

</tr>
<tr>
  <td class="title"></td>
  <td class="break"></td>
  <td> <div class="button" id="button-5">
  <div id="translate"></div>
  <a href="https://scholar.google.nl/citations?user=chqjd5QAAAAJ&hl=en">Google Scholar</a>
</div></td>

</tr>

					<tr>
					  <td class="title"></td>
					  <td class="break"></td>
					  <td> <div class="button" id="button-5">
					  <div id="translate"></div>
					  <a href="mailto:shuai.wang@vu.nl">Email</a>
					</div></td>

					</tr>


				  </table>


				</div>

					</div>
				  </div>
				</div>

				<!-- <div class="col-md-12 col-sm-12 col-xs-12 white-col">
				  <div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">



					</div>
				  </div>
				</div> -->
			  </div>
			  <!--/.OWL CAROUSEL2 END-->
			</div>
		  </div>
		</section>
		<!--/.ABOUT END-->




 	<!--SERVICES-->
 	<section class="white-bg" id="services">
 	  <div class="container">
 		<div class="row">
 		  <div class="col-md-3">
 			<h3 class="title-small">
			<br/>
 			  <span>Research</span>
 			</h3>
 			<p class="content-detail">
 			  Website under construction :)
 			</p>
 		  </div>
 		  <div class="col-md-9 content-right">
 			<div class="row">
 			  <ul class="listing-item">
 				<li>
 				  <div class="col-md-4 col-sm-4">
 					<!-- <h3 class="icon-use">
 					  e
 					</h3> -->
 					<p class="head-sm-big">
 					  <a href="/research/publication">Publication</a>
 					</p>
 					<p class="text-grey">
 					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
 					</p>
 				  </div>
 				</li>
				<li>
				  <div class="col-md-4 col-sm-4">
					<!-- <h3 class="icon-use">
					  c
					</h3> -->
					<p class="head-sm-big">
					 <a href="/research/data">Data</a>
					</p>
					<p class="text-grey">
					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
					</p>
				  </div>
				</li>
 				<li>
 				  <div class="col-md-4 col-sm-4">
 					<!-- <h3 class="icon-use">
 					  p
 					</h3> -->
 					<p class="head-sm-big">
 					  <a href="/research/tools">Tools</a>
 					</p>
 					<p class="text-grey">
 					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
 					</p>
 				  </div>
 				</li>


 			  </ul>

 			  <ul class="listing-item">
 				<li>
 				  <div class="col-md-4 col-sm-4">
 					<!-- <p class="icon-use">
 					  i
 					</p> -->
 					<p class="head-sm-big">
 					  <a href="/research/teaching">Teaching</a>
 					</p>
 					<p class="text-grey">
 					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
 					</p>
 				  </div>
 				</li>

 				<li>
 				  <div class="col-md-4 col-sm-4">
 					<!-- <h3 class="icon-use">
 					  g
 					</h3> -->
 					<p class="head-sm-big">
 					  <a href="/research/blog">Blog</a>
 					</p>
 					<p class="text-grey">
 					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
 					</p>
 				  </div>
 				</li>

 				<li>
 				  <div class="col-md-4 col-sm-4">
 					<!-- <h3 class="icon-use">
 					  d
 					</h3> -->
 					<p class="head-sm-big">
 					  <a href="/research/activities">Activities</a>
 					</p>
 					<p class="text-grey">
 					  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
 					</p>
 				  </div>
 				</li>
 			  </ul>

 			</div>
 		  </div>
 		</div>
 	  </div>
 	</section>
 	<!--/.SERVICES END-->

<iframe src="https://www.google.com/maps/d/embed?mid=1sQlULGSRONlawSGRaHiUlCYnVc5bgfz4" width="640" height="480"></iframe>

 		        <!--FOOTER-->
 		        <footer>
 		          <div class="footer-top">
 		            <ul class="socials">
 		              <li class="facebook">
 		                <a href="#" data-hover="Facebook">Facebook</a>
 		              </li>
 		              <li class="twitter">
 		                <a href="#" data-hover="Twitter">Twitter</a>
 		              </li>
 		              <li class="gplus">
 		                <a href="#" data-hover="Google +">Google +</a>
 		              </li>
 		            </ul>
 		          </div>

 		        </footer>
 		        <!--/.FOOTER-END-->


  </div>
   <!--/.CONTENT END-->
   </div>
 <!--/.CONTENT-WRAP END-->
 </div>


{% endblock content %}
