
{% extends "base3.html" %}
{% load static %}


{% block body_class %}template-homepage{% endblock %}


{% block content %}



<!--CONTENT WRAP-->
<div class="content-wrap">
  <!--CONTENT-->
  <div class="content">


	  <!--EDUCATION-->
	  <section class="grey-bg" id="education">
		<div class="container">
		  <div class="row">
			<div class="col-md-3">
			  <h3 class="title-small">
				<span>Publication</span>
			  </h3>
			  <p class="content-detail">
				 This page contains recent publications and working papers only. For the full list, please see my <a href="https://scholar.google.nl/citations?user=chqjd5QAAAAJ&hl=en"><u>Google Scholar</u></a> page
				<!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. -->
        If you are looking for a dataset, please go to the <a href="../data"><u>dataset</u></a> page.
			  </p>
			</div>
			<div class="col-md-9 content-right">
			  <div class="row">
				<ul class="listing-item">


    <h2>Use the following search bar for my recent publications</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for titles.." title="Type in a name">

    <table id="myTable">
      <tr class="header">
        <th style="width:40%;">Title</th>
        <th style="width:10%;">Conference /Workshop /Journal</th>
        <th style="width:10%;">Slides /Poster</th>
        <th style="width:15%;">Data</th>
        <th style="width:15%;">Code</th>
        <th style="width:6%;">Cite</th>
        <th style="width:6%;">PID</th>
      </tr>
      
      <tr>
        <td><a href="{% static 'files/paper/Seeing.pdf' %}"><u>Seeing The Words: Evaluating AI-generated Biblical Art</u></a> </br></td>
        <td>under submission</td>
        <td> TODO</td>
        <td> <a href="https://doi.org/10.17026/SS/QA271C">The Visio Divina Dataset</a> </td>
      <td><a href="https://doi.org/10.5281/zenodo.14674002"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.14674002.svg" alt="DOI"></a></td>
      <td>TODO</td>
        <td>TODO</td>
      </tr>
      

      <tr>
        <td><a href="{% static 'files/paper/SemDH.pdf' %}"><u>Comparing FAIR Assessment Tools and their Alignment with FAIR Implementation Profiles using Digital Humanities Datasets</u></a> </br></td>
        <td> <a href="https://semdh.github.io/">SemDH'25</a></td>
        <td> TODO</td>
        <td> <a href="https://doi.org/10.5281/zenodo.15261774"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.15261774.svg" alt="DOI"></a></td>
      <td>-</td>
      <td>TODO</td>
        <td>TODO</td>
      </tr>
      
      <tr>
        <td><a href="{% static 'files/paper/MDTT.pdf' %}"><u>Towards Semi-automatic Construction of Multilingual LGBTQ+ Conceptual Models</u></a> </br></td>
        <td> <a href="https://mdtt2025.web.auth.gr/en/">MDTT'25</a></td>
        <td> -</td>
        <td> -</td>
      <td><a href="https://github.com/Multilingual-LGBTQIA-Vocabularies/MDTT"><u>Github</u></a></td>
      <td>TODO</td>
        <td>TODO</td>
      </tr>



      <tr>
        <td><a href="{% static 'files/paper/ekaw_lgbtq.pdf' %}"><u>Examining LGBTQ+-related Concepts in the Semantic Web: Link Discovery, Concept Drift, Ambiguity, and Multilingual Information Reuse</u></a> </br>★ spotlight paper ★</td>
        <td> <a href="https://event.cwi.nl/ekaw2024/">EKAW'24</a></td>
        <td> <a href="{% static 'files/presentation/EKAW-24-presentation.pdf' %}">slides</a></td>
        <td> <a href="https://doi.org/10.5281/zenodo.12684870"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.12684870.svg" alt="DOI"></a> </td>
      
      <td><a href="https://github.com/Multilingual-LGBTQIA-Vocabularies/Examining_LGBTQ-related_Concepts"><u>Github</u></a></td>
      <td><a href="{% static 'files/bib/EKAW24.bib' %}"><u>.bib</u></a></td>
        <td><a href="https://doi.org/10.1007/978-3-031-77792-9_1"><u>DOI</u></a></td>
      </tr>


      <tr>
        <td><a href="{% static 'files/paper/FDO24.pdf' %}"><u>FAIR Implementation Profiles for the Social Sciences and Their Use Cases</u></a></td>
        <td>FDO Summit'24</td>
        <td> <a href="{% static 'files/presentation/FDO-presentation.pdf' %}">slides</a></td>
        <td>-</td>
        <td>-</td>
        <td><a href="{% static 'files/bib/FDO24.bib' %}"><u>.bib</u></a></td>
        <td><a href="https://doi.org/10.52825/ocp.v5i.1352"><u>DOI</u></a></td>
      </tr>

      <tr>
        <td><a href="{% static 'files/paper/COLING_2024.pdf' %}"><u>Benchmarking the Simplification of Dutch Municipal Text</u></a></td>
        <td><a href="https://lrec-coling-2024.org/">LREC-COLING'24</a></td>
        <td><a href="{% static 'files/poster/COLING.pdf' %}">poster</a></td>
      <td>  <a href="https://doi.org/10.5281/zenodo.10869318"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10869318.svg" alt="DOI"></a></td>
      <td><a href="https://github.com/Amsterdam-Internships/Text_Simplification"><u>Github</u></a></td>
        <td><a href="{% static 'files/bib/MTSR2023.bib' %}"><u>.bib</u></a></td>
        <td><a href="https://aclanthology.org/2024.lrec-main.199"><u>Anthology ID</u></a></td>
      </tr>


      <tr>
        <td><a href="{% static 'files/paper/ACIIDS2024.pdf' %}"><u>Enhancing Scholarly Paper Recommendation by Modelling Diversity of Research Interests</u></a></td>
        <td>ACIIDS'24</td>
        <td>to come</td>
        <td>  <a href="https://github.com/SherryPan0/user-interest-modeling"><u>Github</u></a>  </td>
      <td>  <a href="https://github.com/SherryPan0/user-interest-modeling"><u>Github</u></a>  </td>
        <td><a href="{% static 'files/bib/ACIIDS.bib' %}"><u>.bib</u></a></td>
          <td><a href="https://doi.org/10.1007/978-981-97-5934-7_16"><u>DOI</u></a></td>
      </tr>

      <tr>
        <td><a href="{% static 'files/paper/mtsr-fip2dmp.pdf' %}"><u>Aligning Data Management Plans with Community Standards using FAIR Implementation Profiles</u></a></td>
        <td>MTSR'24</td>
        <td><a href="{% static 'files/presentation/MTSR24.pdf' %}">slides</a></td>
        <td><a href="https://doi.org/10.5281/zenodo.10286752"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10286752.svg" alt="DOI"></a></td>
        <td><a href="https://github.com/FAIR-Expertise-Hub/FIP2DMP"><u>Github</u></a></td>
        <td><a href=""><u>todo</u></a></td>
      </tr>
      <tr>
        <td><a href="{% static 'files/paper/ICAART.pdf' %}"><u>Knowledge Modelling, Strategy Designing, and Agent Engineering for Reconnaissance Blind Chess</u></a></td>
        <td><a href="https://icaart.scitevents.org/">ICAART'24</a></td>
        <td><a href="{% static 'files/presentation/ICAART_presentation.pdf' %}">slides</a></td>
        <td><a href="https://doi.org/10.5281/zenodo.10412840"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10412840.svg" alt="DOI"></a></td>
        <td><a href="https://github.com/Robinbux/Scorca"><u>Github</u></a><a href="https://doi.org/10.5281/zenodo.10412840"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10412840.svg" alt="DOI"></a></td>

        <td><a href="{% static 'files/bib/ICAART.bib' %}"><u>.bib</u></a></td>
        
        <td><a href="https://doi.org/10.5220/0012354200003636"><u>DOI</u></a></td>
      </tr>

      <tr>
        <td><a href="{% static 'files/paper/eswc2023-extended.pdf' %}"><u>Refining Large Integrated Identity Graphs using the Unique Name Assumption</u></a></td>
        <td><a href="https://icaart.scitevents.org/">ESWC'23</a></td>
        <td><a href="{% static 'files/presentation/ESWC-2023-presentation.pdf' %}">slides</a></td>
        <td><a href="https://doi.org/10.5281/zenodo.7765113"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.7765113.svg" alt="DOI"></a></td>
        <td><a href="https://github.com/shuaiwangvu/sameAs-iUNA"><u>Github</u></a><a href="https://doi.org/10.5281/zenodo.10418679"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10418679.svg" alt="DOI"></a></td>

        <td><a href="{% static 'files/bib/iUNA.bib' %}"><u>.bib</u></a></td>
          <td><a href="https://doi.org/10.1007/978-3-031-33455-9_4"><u>DOI</u></a></td>
      </tr>


      <tr>
        <td><a href="{% static 'files/paper/MTSR_paper.pdf' %}"><u>FAIR Implementaiton Profile for Social Science</u></a></td>
        <td><a href="http://www.mtsr-conf.org/home">MTSR'23</a></td>
        <td><a href="{% static 'files/presentation/MTSR2023.pdf' %}">slides</a></td>
        <!-- <td><a href="https://doi.org/10.5281/zenodo.10412840"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10412840.svg" alt="DOI"></a></td> -->
        <td><a href="https://doi.org/10.5281/zenodo.10418880"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10418880.svg" alt="DOI"></a></td>

        <td><a href="https://github.com/FAIR-Expertise-Hub/MTSR"><u>Github</u></a></td>

        <td><a href="{% static 'files/bib/MTSR2023.bib' %}"><u>.bib</u></a></td>
          <td><a href="https://doi.org/10.1007/978-3-031-65990-4_26"><u>DOI</u></a></td>
      </tr>


        <tr>
          <td><a href="{% static 'files/paper/SIGSPATIAL_paper.pdf' %}"><u>Converting and Enriching Geo-annotated Event Data: Integrating Information for Ukraine Resilience</u></a></td>
          <td><a href="https://sigspatial2023.sigspatial.org/">ACM SIGSPATIAL'23</a></td>
          <td><a href="{% static 'files/poster/SIGSPATIAL_poster.pdf' %}"><u>poster</u></a> and <a href="https://linked4resilience.eu/"><u>website</u></a></td>
          <td><a href="https://triplydb.com/linked4resilience/-/datasets"><u>datasets on TriplyDB</u></a></td>
          <td><a href="https://github.com/LinkedData4Resilience/linked-data"><u>Github</u></a></td>
          <td><a href="{% static 'files/bib/SIGSPATIAL.bib' %}"><u>.bib</u></a></td>
          <td><a href="https://doi.org/10.1145/3589132.3625580"><u>DOI</u></a></td>
          
        </tr>

    </table>


  <!--/.CONTENT END-->
  </div>
<!--/.CONTENT-WRAP END-->
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>


{% endblock content %}
