
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}



<!--CONTENT WRAP-->
<div class="content-wrap">
  <!--CONTENT-->
  <div class="content">



	<!--ABOUT-->
	<section id="about">
	  <div class="col-md-6 col-xs-12 no-pad">
		<div class="bg-about"></div>
		<!-- <img src="images/reza.jpg" alt="Italian Trulli"> -->
	  </div>

	  <div class="col-md-6 col-sm-12 col-xs-12 white-col">
		<div class="row">
		  <!--OWL CAROUSEL2-->
		  <div class="owl-carousel2">
			<div class="col-md-12">
			  <div class="wrap-about">
				<div class="w-content">



				  <div class="button" id="button-5">
				    <div id="translate"></div>
				    <a href="#">2-page CV</a>
				  </div>


				  				  <div class="button" id="button-5">
				  				    <div id="translate"></div>
				  				    <a href="#">6-page CV</a>
				  				  </div>


								  				  <div class="button" id="button-5">
								  				    <div id="translate"></div>
								  				    <a href="#">Complete CV</a>
								  				  </div>

				</div>
			  </div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 white-col">
			  <div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
				  <div class="wrap-about">
					<table class="w-content">
					  <tr>
						<td class="title">Name </td>
						<td class="break">:</td>
						<td> Shuai Wang</td>
					  </tr>
					  <tr>
						<td class="title">Phone </td>
						<td class="break">:</td>
						<td> +31 6526 91901</td>
					  </tr>
					  <tr>
						<td class="title">Email </td>
						<td class="break">:</td>
						<td> shuai.wang.vu@gmail.com</td>
					  </tr>
					  <tr>
						<td class="title">Office </td>
						<td class="break">:</td>
						<td> Office 10A.50, The NU Building (VU Amsterdam), Boelelaan 1111, 1081 HV Amsterdam</td>
					  </tr>
					  <tr>
						<td class="title">ScopusID</td>
						<td class="break">:</td>
						<td> 56923985200</td>
					  </tr>
					  <tr>
						<td class="title">ORCID </td>
						<td class="break">:</td>
						<td> 0000-0002-1261-9930 </td>
					  </tr>
					  <tr>
						<td class="title">Github</td>
						<td class="break">:</td>
						<td> shuaiwangvu</td>
					  </tr>
					</table>
				  </div>


				</div>
			  </div>
			</div>
		  </div>
		  <!--/.OWL CAROUSEL2 END-->
		</div>
	  </div>
	</section>
	<!--/.ABOUT END-->


	        <!--FOOTER-->
	        <footer>
	          <div class="footer-top">
	            <ul class="socials">
	              <li class="facebook">
	                <a href="#" data-hover="LinkedIn">LinkedIn</a>
	              </li>
	              <li class="twitter">
	                <a href="#" data-hover="Google Scholar">Google Scholar</a>
	              </li>
	              <li class="gplus">
	                <a href="#" data-hover="Github">Github</a>
	              </li>
	            </ul>
	          </div>


	        </footer>
	        <!--/.FOOTER-END-->


  <!--/.CONTENT END-->
  </div>
<!--/.CONTENT-WRAP END-->
</div>



{% endblock content %}
