
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">




	    	<!--SERVICES-->
	    	<section class="white-bg" id="services">
	    	  <div class="container">
	    		<div class="row">
	    		  <div class="col-md-3">
	    			<h3 class="title-small">
	    			  <span>Supervision</span>
	    			</h3>
	    			<p class="content-detail">
	    			I have been supervising theses and bachelor and master level as well as internships. Congratulations to all my students for succefully defending their theses! </br> Feel free to contact me if you want to have me as your supervisor or co-supervise students with me.
	    			</p>

	    		  </div>




				  <div class="col-md-9 content-right">

					  <!-- <h3 class="title-small">
					    <span>Below are some datasets (and tools) in my research:</span>
					  </h3> -->

					  			  <!-- <div class="col-md-9 content-right"> -->
<!--
					  			  	<h3 class="title-small">
					  			  	  <span>I have (co-)supervised the following theses:</span>
					  			  	</h3>
					  			  <div class="col-md-9 content-right">
					  			    <div class="row">
					  			    <ul class="listing-item">
 -->

 <p class="head-sm">
Evaluating automated translation of LGBTQ terms: towards multilingual Homosaurus
    </p>
    <p class="text-grey">
    Student: <u>Anna-Maja Kazarian</u> (Now a <a href="https://en.wikipedia.org/wiki/Anna-Maja_Kazarian"><u>professional chess player</u></a>)</br>
    Type: BSc A.I., VU, NL. </br>
    Keywords: machine translation, multilingual vocabulary, LGBTQ+ </br>

	 	 </p>



 <p class="head-sm">
    Ketamine and Depression
    </p>
    <p class="text-grey">
    Student: <u>Ikrame Zizar</u> (Now a linked data engineer in <a href="https://iisg.amsterdam/en/data"><u>IISG</u></a>)</br>
    Type: MSc A.I., VU, NL. </br>
    Keywords: causal relation, ketamine, depression, knowledge graph </br>
    Co-supervisor: Dr. Zhisheng Huang, Ting Liu, Chengcheng Fu </br>

	 	 </p>



 	  <!-- <li> -->
   <p class="head-sm">
   Smart Urban Resilience: A linked Data Approach
   </p>
   <p class="text-grey">
   Student: <u>Tianyang Lu</u></br>
   Type: MSc CS, VU, NL. </br>
   Keywords: Resilience data management, geo-spatial information, knowledge graphs </br>
   Co-supervisor: Dr. Zhisheng Huang </br>

   <a href="{% static 'files/paper/BNAIC_Tianyang.pdf' %}"> >> <b>extended thesis abstract (BNAIC'22)</b></a>
   <!-- Company in collaboration: <a href="https://www.workrate.eu/en/">WorkRate</a> </br> -->

   <!-- <a href="{% static 'files/paper/hci2019.pdf' %}"> >> <b>publication (HCI'19)</b></a> -->
   <!-- <a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a> -->
   					  				 	 </p>

   					  				  <!-- </li> -->


	  <!-- <li> -->
  <p class="head-sm">
 A Qualitative Investigation on the Performance of Geospatial Triplestores (internship at Kadaster)
  </p>
  <p class="text-grey">
  Student: <a href="https://www.linkedin.com/in/khaled-rabata-07104a17b/"><u>Khaled Rabata</u></a> (now a linked data specialist at <a href="https://www.taxonic.com/"><b>Taxonic</b></a>)</br>
  Type: BSc A.I., VU, NL. </br>
  Keywords: Geo-spatial information, triple stores, knowledge base validation </br>
  Co-supervisor: Dr. Zhisheng Huang </br>
  <!-- Company in collaboration: <a href="https://www.workrate.eu/en/">WorkRate</a> </br> -->

  <!-- <a href="{% static 'files/paper/hci2019.pdf' %}"> >> <b>publication (HCI'19)</b></a> -->
  <!-- <a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a> -->
  					  				 	 </p>

  					  				  <!-- </li> -->


<p class="head-sm">
Examining the Evolution of Identity Graphs Through Redirection
</p>
<p class="text-grey">
Student: <u>Idries Nasim</u> (a master student of A.I. at the UvA from autumn 2022)</br>
Type: BSc CS, VU, NL. </br>
Keywords: identity graph, knowledge graph, semantic web evolution. </br>
Second reader: Prof. Peter Bloem </br>

<a href="{% static 'files/paper/BNAIC_idries.pdf' %}"> >> <b>extended thesis abstract (BNAIC'22)</b></a>
<a href="{% static 'files/paper/MEPDaW.pdf' %}"> >> <b>publication (MPEDaW'22)</b></a>
<!-- Company in collaboration: <a href="https://www.workrate.eu/en/">WorkRate</a> </br> -->

<!-- <a href="{% static 'files/paper/hci2019.pdf' %}"> >> <b>publication (HCI'19)</b></a> -->
<!-- <a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a> -->
					  				 	 </p>

					  				  <!-- </li> -->


 <p class="head-sm">
 Free speech dialogues for harmony in human relations
 </p>
 <p class="text-grey">
Student: <a href="https://www.linkedin.com/in/stein-de-bever-0139981a6/?originalSubdomain=nl"><u>Stein de Bever</u></a> (now a junior DevOps engineer at de Volksbank)</br>
Type: CS/IMM, VU, NL. </br>
Keywords: chatbot, human-agent interaction, computer-aid workforce training. </br>
Co-supervised with Daniel Formolo (VU) and Tibor Bosse (RU Nijmegen) </br>
Company in collaboration: <a href="https://www.workrate.eu/en/">WorkRate</a> </br>

<a href="{% static 'files/paper/hci2019.pdf' %}"> >> <b>publication (HCI'19)</b></a>
<!-- <a href="https://github.com/shuaiwangvu/EcoFin-integrated">>code</a> -->
					  				 	 </p>

					  				  <!-- </li> -->


					  				  <!-- <li> -->
					  				 	 <p class="head-sm">
					  				 	Using human facial expressions for interpersonal stances
					  				 	 </p>
					  				 	 <p class="text-grey">
Student: <a href="https://www.linkedin.com/in/tico-van-der-laan-9aa9001a2/"><u>Tico van der Laan</u></a> (now a fleet manager at felyx and a master student at the Vrije Universiteit Amsterdam)</br>
Type: CS/IMM, VU, NL. </br>
Keywords: face recognition, image analysis, face detection, emotion detection. </br>
Co-supervised with Daniel Formolo (VU) and Tibor Bosse (RU Nijmegen).

					  				 	 </br>

					  				 	 </p>

									  <p class="head-sm">
									 NeuroEvolution for Real-time Object Recognition
									  </p>
									  <p class="text-grey">
Student: <a href="https://www.linkedin.com/in/devrieslucas/"><u>Lucas de Vries</u> (now a PhD candidate Deep Learning for Neuroradiology at the Amsterdam University Medical Center) </br>
Type: MSc, UvA, NL. </br>
Keywords: neural evolutionary, Raspberry Pi, neural network topology. </br>
Co-supervised with Gongjin Lan (VU) and Jadran Sirotkovic (Accenture). </br>
<a href="{% static 'files/paper/ssci19.pdf' %}"> >> <b>publication (SSCI'19)</b></a> >> <a href="https://github.com/langongjin/Evolving-DNNs"> code </a>
</p>


<hr>


<h4> I am also a supervisor in the digital humanities minor</h4>


					  				 	 </br>
<p class="head-sm">
Identifying Historical Occupations in Text using HISCO: A User-Centric Approach
</p>
<p class="text-grey">
Student: Jaan Joosep Puusaag, Stacey Koolman, Guilherme Arashiro</br>
co-supervisor: Xander Wilcke</br>
Type: project for minor, VU, NL. </br>
Keywords: HISCO, named entity recognition, string matching </br>
<a href="{% static 'files/paper/hisco.pdf' %}"> >> <b>paper</b></a>(submitted to DHBenelux'23) >> <a href="https://github.com/DigitalHumanitiesMinorVU/project2023"> code </a>
					  			    </ul>
					  			    <!-- </div> -->
					  			  </div>
					  			  </div>

			  </div>
	    		</div>
	    	  </div>
	    	</section>
	    	<!--/.SERVICES END-->




	   <!--FOOTER-->
	   <footer>
		 <div class="footer-top">
		   <!-- <ul class="socials">
			 <li class="facebook">
			   <a href="#" data-hover="Facebook">Facebook</a>
			 </li>
			 <li class="twitter">
			   <a href="#" data-hover="Twitter">Twitter</a>
			 </li>
			 <li class="gplus">
			   <a href="#" data-hover="Google +">Google +</a>
			 </li>
		   </ul> -->
		 </div>

	   </footer>
	   <!--/.FOOTER-END-->

	  </div>
	   <!--/.CONTENT END-->
	   </div>
	 <!--/.CONTENT-WRAP END-->
	 </div>

	{% endblock content %}
