
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">




	    	<!--SERVICES-->
	    	<section class="white-bg" id="services">
	    	  <div class="container">
	    		<div class="row">
					<h2 >
					  <span>Teaching and Supervision</span>
					</h2>
	    		  <!-- <div class="col-md-3">

	    			<p class="content-detail">
	    			I work mostly with linked data and knowledge graphs. I perform analysis, study the features and develop refinement algorithms to improve the quality of data. I have also developed tools for fast manual annotation.
</br>
In addition, I have worked with proofs in higher order logic and data in bioinformatics.
	    			</p>
	    		  </div> -->

<!--
	    		  <div class="col-md-9 content-right">
	    			<div class="row">
	    			  <ul class="listing-item">
						  <li>
						    <div class="col-md-4 col-sm-4">
						  	<h3 class="icon-use">
						  	  c
						  	</h3>
						  	<p class="head-sm">
						  	Data Analysis
						  	</p>
						  	<p class="text-grey">
						  	I perform logic-based and graph-theoretical analysis of large knowledge graphs.
						  	</p>
						    </div>
						  </li>
							<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  t
	    					</h3>
	    					<p class="head-sm">
	    					  Refinement
	    					</p>
	    					<p class="text-grey">
	    					  I develop hybrid refinement algorithms and improve the quality of large knowledge graphs.
	    					</p>
	    				  </div>
	    				</li>

	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  n
	    					</h3>
	    					<p class="head-sm">
	    					Validation and Checking
	    					</p>
	    					<p class="text-grey">
	    					 I worked with proofs of higher order logic (transformation and proof checking).
	    					</p>
	    				  </div>
	    				</li>


	    			  </ul>

	    			  <ul class="listing-item">
	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<p class="icon-use">
	    					  p
	    					</p>
	    					<p class="head-sm">
	    					  <a href="/research/teaching">Feature Analysis</a>
	    					</p>
	    					<p class="text-grey">
	    					 I use Machine Learning for the extraction and analysis of features in knowledge graphs.
	    					</p>
	    				  </div>
	    				</li>



	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  l
	    					</h3>
	    					<p class="head-sm">
	    					  <a href="/research/activities">Annotation</a>
	    					</p>
	    					<p class="text-grey">
	    					  I developed tools for the annotation of gold standards.
	    					</p>
	    				  </div>
	    				</li>

						<li>
						  <div class="col-md-4 col-sm-4">
							<h3 class="icon-use">
							  h
							</h3>
							<p class="head-sm">
							  Publishing
							</p>
							<p class="text-grey">
							I have published many datasets that could you interesting for you!
							</p>
						  </div>
						</li>

	    			  </ul>
	    			</div>
	    		  </div> -->


				  <div class="col-md-9 content-right">

					  <h3 class="title-small">
					    <span>Below are some courses where I was a TA:</span>
					  </h3>
 <div class="col-md-9 content-right">
				    <div class="row">
				  	<ul class="listing-item">
						<!-- <li>

							<p class="head-sm">
							Machine Learning
							</p>
							<p class="text-grey">
								- Prof. Peter Bloem
						</br> - BSc A.I./CS, VU, NL.
							</br>
						This introductory course to Machine Learning covers the basics of learning algorithms, model building and training. My duty as an TA was to help students with their group assignments and individual assignments.
						</br> See details of the course on its <a href="https://mlvu.github.io/"><u>website</u></a>.
							</p>

						</li> -->

						<li>

							<p class="head-sm">
							Deep Learning
							</p>
							<p class="text-grey">
								- Prof. Jakub Tomczak, Prof. Michael Cochez and Prof. Peter Bloem
						</br> - MSc A.I., VU & UvA, NL.
							</br>
						This course covers various aspects of Deep Learning including Convolutional Neural Networks, Sequential data, Latent Variable Models, GANs and Reinforcement learning, etc. My duty as an TA was to help students with their group assignments and individual assignments.
						</br>
See details of the course on its <a href="https://dlvu.github.io/"><u>website</u></a>.
							</p>

						</li>


						<li>

							<p class="head-sm">
							A.I. for Health (bilingual)
							</p>
							<p class="text-grey">
								- Dr. Annette ten Teije and Prof. Judith E. Bosmans
						</br> - MSc A.I., Wuhan University of Science and Technology, online
							</br>
This VU course was adapted and delivered to the master students in Wuhan as a part of the long-term collaboration with the Wuhan University of Science and Technology. I was the teaching assistant for this special bilingual course delivered at remote.
						</br>
							</p>

						</li>


						<li>

							<p class="head-sm">
							Intelligent Systems
							</p>
							<p class="text-grey">
							- Dr. Stefan Schlobach
						</br> - First year BSc Artificial Intelligence, VU, NL
							</br>
I was a teaching assistant for the Intelligent Systems course, a course that was newly adapted to first year bachelor students. The course covered logical agents, Bayesian network, Machine Learning, etc. I coached two group of 42 students for their assignments and projects.
	</br>
							</p>

						</li>

				  		<li>

							<p class="head-sm">
							Knowledge Representation
							</p>
							<p class="text-grey">
							- Prof. Frank van Harmelen
</br>- First year MSc Artificial Intelligence, UvA&VU, NL
							</br>
								I was a teaching assistant for the Knowledge Representation course. I coached in total 43 students and supervised 70+ projects. I delivered 7 tutorials and organised 8 project meetings. I audited the exam and marked 40+ project reports in 2017.
	Following the change of course format, I was involved in the marking of exams and project reports in 2018, 2019, and 2020.
</br>
Download the lecture nodes, the mock exam, and the slides <u>here</u>.
							</p>

				  		</li>
				  	</ul>
				    </div>
				  </div>


			  </div>


			  <div class="col-md-9 content-right">

			  	<h3 class="title-small">
			  	  <span>I have (co-)supervised the following theses:</span>
			  	</h3>
			  <div class="col-md-9 content-right">
			    <div class="row">
			    <ul class="listing-item">


				  <li>
				 	 <p class="head-sm">
				 	 Stein de Bever: Free speech dialogues for harmony in human relations.
				 	 </p>
				 	 <p class="text-grey">
				 		 - Co-supervised with Daniel Formolo (VU) and Tibor Bosse (RU Nijmegen).
				  </br> - BSc CS/IMM, VU, NL.
				 	 </br>
				  Keywords: chatbot, human-agent interaction, computer-aid workforce training.
				 	 </p>
				  </li>


				  <li>
				 	 <p class="head-sm">
				 	 Tico van der Laan: Using human facial expressions for interpersonal stances.
				 	 </p>
				 	 <p class="text-grey">
				 		 - Co-supervised with Daniel Formolo (VU) and Tibor Bosse (RU Nijmegen).
				  </br> - BSc CS/IMM, VU, NL.
				 	 </br>
				  Keywords: chatbot, human-agent interaction, computer-aid workforce training.
				 	 </p>
				  </li>

				  <li>
				 	 <p class="head-sm">
				 	 Lucas de Vries: NeuroEvolution for Real-time Object Recognition
				 	 </p>
				 	 <p class="text-grey">
				 		 - Co-supervised with Gongjin Lan (VU) and Jadran Sirotkovic (Accenture).
				  </br> - MSc, UvA, NL.
				 	 </br>
				  Keywords: evolutionary training of neural networks, Raspberry Pi, neural network topology.
				 	 </p>
				  </li>

				  <li>
				 	 <p class="head-sm">
				 	 Idries Nasim: Scaling refinement algorithms to web scale.
				 	 </p>
				 	 <p class="text-grey">
				 		 - Second reader: Peter Bloem (VU).
				  </br> - BSc CS, VU, NL.
				 	 </br>
				  Keywords: knowledge graph, identity graph, web-scale algorithm.
				 	 </p>
				  </li>




			    </ul>
			    </div>
			  </div>
			  </div>

	    		</div>
	    	  </div>
	    	</section>
	    	<!--/.SERVICES END-->




	   <!--FOOTER-->
	   <footer>
		 <div class="footer-top">
		   <!-- <ul class="socials">
			 <li class="facebook">
			   <a href="#" data-hover="Facebook">Facebook</a>
			 </li>
			 <li class="twitter">
			   <a href="#" data-hover="Twitter">Twitter</a>
			 </li>
			 <li class="gplus">
			   <a href="#" data-hover="Google +">Google +</a>
			 </li>
		   </ul> -->
		 </div>

	   </footer>
	   <!--/.FOOTER-END-->

	  </div>
	   <!--/.CONTENT END-->
	   </div>
	 <!--/.CONTENT-WRAP END-->
	 </div>

	{% endblock content %}
