
{% extends "base2.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

{% load static %}

 <div class="content-wrap">
   <!--CONTENT-->
   <div class="content">




	    	<!--SERVICES-->
	    	<section class="white-bg" id="services">
	    	  <div class="container">
	    		<div class="row">
					<h2 >
					  <span>Software, Tools, and Platforms</span>
					</h2>
	    		  <!-- <div class="col-md-3">

	    			<p class="content-detail">
	    			I work mostly with linked data and knowledge graphs. I perform analysis, study the features and develop refinement algorithms to improve the quality of data. I have also developed tools for fast manual annotation.
</br>
In addition, I have worked with proofs in higher order logic and data in bioinformatics.
	    			</p>
	    		  </div> -->

<!--
	    		  <div class="col-md-9 content-right">
	    			<div class="row">
	    			  <ul class="listing-item">
						  <li>
						    <div class="col-md-4 col-sm-4">
						  	<h3 class="icon-use">
						  	  c
						  	</h3>
						  	<p class="head-sm">
						  	Data Analysis
						  	</p>
						  	<p class="text-grey">
						  	I perform logic-based and graph-theoretical analysis of large knowledge graphs.
						  	</p>
						    </div>
						  </li>
							<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  t
	    					</h3>
	    					<p class="head-sm">
	    					  Refinement
	    					</p>
	    					<p class="text-grey">
	    					  I develop hybrid refinement algorithms and improve the quality of large knowledge graphs.
	    					</p>
	    				  </div>
	    				</li>

	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  n
	    					</h3>
	    					<p class="head-sm">
	    					Validation and Checking
	    					</p>
	    					<p class="text-grey">
	    					 I worked with proofs of higher order logic (transformation and proof checking).
	    					</p>
	    				  </div>
	    				</li>


	    			  </ul>

	    			  <ul class="listing-item">
	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<p class="icon-use">
	    					  p
	    					</p>
	    					<p class="head-sm">
	    					  <a href="/research/teaching">Feature Analysis</a>
	    					</p>
	    					<p class="text-grey">
	    					 I use Machine Learning for the extraction and analysis of features in knowledge graphs.
	    					</p>
	    				  </div>
	    				</li>



	    				<li>
	    				  <div class="col-md-4 col-sm-4">
	    					<h3 class="icon-use">
	    					  l
	    					</h3>
	    					<p class="head-sm">
	    					  <a href="/research/activities">Annotation</a>
	    					</p>
	    					<p class="text-grey">
	    					  I developed tools for the annotation of gold standards.
	    					</p>
	    				  </div>
	    				</li>

						<li>
						  <div class="col-md-4 col-sm-4">
							<h3 class="icon-use">
							  h
							</h3>
							<p class="head-sm">
							  Publishing
							</p>
							<p class="text-grey">
							I have published many datasets that could you interesting for you!
							</p>
						  </div>
						</li>

	    			  </ul>
	    			</div>
	    		  </div> -->


				  <div class="col-md-9 content-right">

					  <h3 class="title-small">
					    <span>Below are some recent open source tools and platforms I developed:</span>
					  </h3>
 <div class="col-md-9 content-right">
				    <div class="row">
				  	<ul class="listing-item">



              <li>

                <p class="head-sm">
                Scorca
                </p>
                <p class="text-grey">

            Scorca is an open-source bot designed to play Reconnaissance Blind Chess (RBC). It was created as part of a research project investigating knowledge modelling, sensing strategies, and moving strategies in RBC.
              </br> See details on <a href="https://github.com/Robinbux/Scorca"><u>GitHub</u></a>. </br>
              <a href="{% static 'files/paper/ICAART.pdf' %}">>paper</a></br>
              <a href="https://doi.org/10.5281/zenodo.10412787"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10412787.svg" alt="DOI"></a>
                </p>

              </li>


						<li>

							<p class="head-sm">
							ANN'it
							</p>
							<p class="text-grey">

						A user-friendly interface for fast annotation of entities and triples.
						</br> See details on <a href="https://github.com/shuaiwangvu/ANNit"><u>GitHub</u></a>.</br>
            <a href="{% static 'files/paper/eswc2023-extended.pdf' %}">>paper</a> </br>
            <a href="https://doi.org/10.5281/zenodo.10418333"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10418333.svg" alt="DOI"></a></br>

							</p>

						</li>

</br>
<h3> <u>Below are some outdated software/platforms that I developed but no longer maintained. </u></h3>
</br>
						<li>

							<p class="head-sm">
							Holala
							</p>
							<p class="text-grey">

						HOLALA is HOL Light with an extended kernel. Instead of taking only = as primitive symbol, HOLALA takes also &#8704; and &#8658;
as primitive symbols.
						</br> See details on <a href="http://airobert.github.io/holala/"><u>github</u> and <a href="https://hal.science/hal-04442046"><u>HAL</u></a></a>.
            </br>
            <a href="https://doi.org/10.5281/zenodo.10624348"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10624348.svg" alt="DOI"></a>
							</p>

						</li>


						<li>

							<p class="head-sm">
							Holide
							</p>
							<p class="text-grey">

								Holide is a proof translator. It takes proofs in <a href="http://www.gilith.com/research/opentheory/">OpenTheory</a>'s <a href"http://opentheory.gilith.com/">Repo</a> and translates them to <a href="http://dedukti.gforge.inria.fr/">Dedukti</a> format for proof checking. The most recent version is Holide2 (for proofs articles in OpenTheory version 6).

						</br> See details on <a href="https://airobert.github.io/holide/"><u>github</u> and <a href="https://hal.science/hal-04442046"><u>HAL</u></a></a>.
            </br>
            <a href="https://doi.org/10.5281/zenodo.10624348"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10624348.svg" alt="DOI"></a>
							</p>

						</li>

												<li>

													<p class="head-sm">
													ProofCloud
													</p>
													<p class="text-grey">

														ProofCloud is a proof search engine based on Swiftype for verified proofs debuted as a platform for the representation of proof checking and proof analysis results. There are in total 1,687 proofs.

												</br> Find your proofs at <a href="http://airobert.github.io/proofcloud/"><u>ProofCloud</u></a>.
                        </br> ProofCloud inspired <a href="http://dalilcoin.com/explorer">the <u>Dalilcoin explorer</u></a> (a blockchain-based proof publishing system). Its interface used the design of ProofCloud.
													</br>

                          <a href="https://doi.org/10.5281/zenodo.10629599"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10629599.svg" alt="DOI"></a>
                        </p>
												</li>

                        <li>

                          <p class="head-sm">
                          TuringLearner
                          </p>
                          <p class="text-grey">

                            TuringLearning is a platform implemented in C++ that could be extended for evaluation of co-evolutionary learning tasks. It was used for my master's thesis for the evaluation of integrating Nash Memory with Turing Learning. The design of the platform and how it can be extended for other tasks are described in the thesis. Please see the link below for details and the source code.
                          </br>
                            <a href="https://doi.org/10.5281/zenodo.10629599"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10629599.svg" alt="DOI"></a>

                        </p>
                        </li>



				  	</ul>
				    </div>
				  </div>


			  </div>
	    		</div>
	    	  </div>
	    	</section>
	    	<!--/.SERVICES END-->




	   <!--FOOTER-->
	   <footer>
		 <div class="footer-top">
		   <!-- <ul class="socials">
			 <li class="facebook">
			   <a href="#" data-hover="Facebook">Facebook</a>
			 </li>
			 <li class="twitter">
			   <a href="#" data-hover="Twitter">Twitter</a>
			 </li>
			 <li class="gplus">
			   <a href="#" data-hover="Google +">Google +</a>
			 </li>
		   </ul> -->
		 </div>

	   </footer>
	   <!--/.FOOTER-END-->

	  </div>
	   <!--/.CONTENT END-->
	   </div>
	 <!--/.CONTENT-WRAP END-->
	 </div>

	{% endblock content %}
